@page "/StockItemByProduct"
@model KlanicaPraksa.Pages.StockItems.StockItem_ByProductModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/StockItemByProduct" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/StockItemByWarehouse">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

STOCK ITEM BY PRODUCT