@page "/StockItemCardByDate"
@model KlanicaPraksa.Pages.StockItems.StockItemCard_ByDateModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/StockItemCardByProduct" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/StockItemCardByDate">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

STOCK ITEM CARD BY DATE