@page "/StockItemValue"
@model KlanicaPraksa.Pages.StockItems.StockItem_ValueModel
@{
}

<main>

    <div class="grid-wrapper grid-wrapper-two-columns grid-wrapper-single-row" style="grid-template-columns: 0.7fr 1fr;">

        <div class="grid-wrapper grid-wrapper-single-row">
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border: none;">
                    <h4 class="mb0">ARTIKLI</h4>
                    <div class="o-flex o-flex--center">
                        <a href="#" class="button button--green-circle mr-">
                            <img src="images/_add.png" alt="">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="images/_sync.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z"></path>
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="KLIKNITE ZA PRETRAGU ARTIKALA. . .">
                    </div>
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>
                                    <th>VREDNOST</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>4000</td>
                                    <td>SVINJJSKA POLUTKA</td>
                                    <td>422,470,452.27</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>400219</td>
                                    <td>SPZP III kategorije</td>
                                    <td>3,056,074.964</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>7520</td>
                                    <td>JETRA SVINJSKA</td>
                                    <td>745,322,896.93</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>7526</td>
                                    <td>PLUĆA SVINJSKA</td>
                                    <td>396,073,299.71</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>5174</td>
                                    <td>KOSTI SVINJSKE NE JESTIVE</td>
                                    <td>2,657.28</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>4069</td>
                                    <td>NEOBRAĐENA SLANINA EKSTRA KAT SVINJSKA</td>
                                    <td>147,534,487.15</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>4329</td>
                                    <td>OBRAĐENA SLANINA EKSTRA KAT SVINJSKA</td>
                                    <td>23,164,323.10</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>4011</td>
                                    <td>PRASEĆE MESO</td>
                                    <td>20,058,145.20</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>4004</td>
                                    <td>FRANCUSKA OBRADA SVINJSKA</td>
                                    <td>6,312,229.05</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>4472</td>
                                    <td>MESNI OBRESCI 80/20 SVINJSKI</td>
                                    <td>4,140.37</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>4003</td>
                                    <td>POLUTKA OD KRMAČA</td>
                                    <td>2,001.22</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>7685</td>
                                    <td>ČVRSTO MASNO TKIVO SA LEĐA SVINJSKO</td>
                                    <td>73,555,316.94</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>4001</td>
                                    <td>SVINJSKA POLUTKA EVG</td>
                                    <td>214,386,699.24</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>4201</td>
                                    <td>BUT BK SVINJSKI</td>
                                    <td>108,993,795.59</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>4361</td>
                                    <td>LEĐA I SLANINA BEZ KOSTIJU (laks kare)SVINJSKI</td>
                                    <td>113,852,845.19</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>7540</td>
                                    <td>SRCE SVINJSKO</td>
                                    <td>44,690,442.88</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>7512</td>
                                    <td>GRKLJAN SVINJSKO</td>
                                    <td>35,402,878.19</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>4014</td>
                                    <td>BUT SK BEZ KOŽE SVINJSKO</td>
                                    <td>48,483,706.21</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>7579</td>
                                    <td>MARAMICA SVINJSKA</td>
                                    <td>22,033,822.50</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>7547</td>
                                    <td>GLAVA SA KOSTIMA SVINJSKA</td>
                                    <td>11,952,056.79</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>4060</td>
                                    <td>VRAT SK SVINJSKO RAS</td>
                                    <td>65,671,174.84</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>4475</td>
                                    <td>MESNI ODRESCI SVINJSKI</td>
                                    <td>42,154,130.84</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-wrapper grid-wrapper-single-row">
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: none;">
                    <h4 class="mb0">STAVKE SPECIFIKACIJE</h4>
                    <div class="o-flex o-flex--center">
                        <a href="#" class="button button--green-circle mr-">
                            <img src="/images/_add.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z"></path>
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="KLIKNITE ZA PRETRAGU ARTIKALA. . .">
                    </div>
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>LOT</th>
                                    <th>ARTIKAL</th>
                                    <th>MAGACIN</th>
                                    <th>KOMORA</th>
                                    <th>KG</th>
                                    <th>CENA</th>
                                    <th>VREDNOST</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>KLS/01687</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>40.28</td>
                                    <td>100,025.00</td>
                                    <td>4,029,007.00</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>KLS/01688</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>1269.92</td>
                                    <td>100,025.00</td>
                                    <td>127,023,748.00</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>KLS/01696</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>563.65</td>
                                    <td>100,025.00</td>
                                    <td>56,379,091.25</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>KLS/01714</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>736.61</td>
                                    <td>100,025.00</td>
                                    <td>73,679,415.25</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>KLS/01723</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>1425.28</td>
                                    <td>100,025.00</td>
                                    <td>142,563,632.00</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>KLS/01725</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>5470.32</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>KLS/01687</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>40.28</td>
                                    <td>100,025.00</td>
                                    <td>4,029,007.00</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>KLS/01688</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>1269.92</td>
                                    <td>100,025.00</td>
                                    <td>127,023,748.00</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>KLS/01696</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>563.65</td>
                                    <td>100,025.00</td>
                                    <td>56,379,091.25</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>KLS/01714</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>736.61</td>
                                    <td>100,025.00</td>
                                    <td>73,679,415.25</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>KLS/01723</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>1425.28</td>
                                    <td>100,025.00</td>
                                    <td>142,563,632.00</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>KLS/01725</td>
                                    <td>4000(SVINJSKA POLUTKA)</td>
                                    <td>TOP POLUTKE SA KLANJA</td>
                                    <td>KOMORA 1</td>
                                    <td>5470.32</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>