<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KlanicaPraksa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/app.css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body class="homepage">

    <header class="header-main">
        <div class="header-main__nav-left o-flex o-flex--center">
            <a class="bars mr" href="javascript:;">
                <svg width="22" viewBox="0 0 512 512">
                    <g data-name="1">
                        <path fill="#fff" d="M441.13 166.52h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 279.72h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 392.92h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30Z" />
                    </g>
                </svg>
            </a>
            <p class="mb0 clr-white">PRIJEM GRLA - BRZI UNOS</p>
        </div>
        <a href="javascript:;" class="refresh">
            <svg height="24" width="24">
                <path fill="#fff" d="M17.807 7C16.447 5.079 14.394 4 12 4a8 8 0 0 0-8 8H2C2 6.477 6.477 2 12 2c2.804 0 5.275 1.183 7 3.27V2h2v7h-7V7h3.807ZM6.193 17c1.36 1.921 3.413 3 5.807 3a8 8 0 0 0 8-8h2c0 5.523-4.477 10-10 10-2.804 0-5.275-1.183-7-3.27V22H3v-7h7v2H6.193Z" fill-rule="evenodd" />
            </svg>
        </a>
        <nav class="header-main__nav">
            <ul class="nav__list o-flex o-flex--center">
                <li class="nav__list-item">
                    <a href="/MainMenuInputNote" class="nav__link is-active">
                        <img src="~/images/nav/__input.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="#" class="nav__link">
                        <img src="~/images/nav/__slaughter.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuQuartering" class="nav__link">
                        <img src="~/images/nav/__quarteringWhite1.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="#" class="nav__link">
                        <img src="~/images/nav/__refinement.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="#" class="nav__link">
                        <img src="~/images/nav/__finalProduct.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuDeepFreeze" class="nav__link">
                        <img src="~/images/nav/__freeze.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="#" class="nav__link">
                        <img src="~/images/nav/__expedition1.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="#" class="nav__link">
                        <img src="~/images/nav/__specifications.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="#" class="nav__link">
                        <img src="~/images/nav/__euro.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuBasic" class="nav__link">
                        <img src="~/images/nav/__edit1.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuAdmin" class="nav__link">
                        <img src="~/images/nav/__admin.png" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>