@page "/WarehouseVisibilityList"
@model KlanicaPraksa.Pages.Warehouses.WarehouseVisibilityListModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/WarehouseVisibilityList" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/WarehouseVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/WarehouseVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/WarehouseVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/WarehouseVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/WarehouseVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

Warehouse visibility