@page "/SpecificationSlaughter"
@model KlanicaPraksa.Pages.Processes.Specification_SlaughterModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SpecificationSlaughter" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SpecificationSlaughter">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SpecificationSlaughter">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<!--  Popup stavke specifikacije    -->
<div id="Stavkespecifikacije" class="popup">
    <div class="popup__overlay"></div>
    <a id="StavkeClose" class="close-popup button button--green-circle">
        <img src="/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">

        <div class="cart">
            <div class="cart__header">
                <h2 class="clr-green u-text-center mb0"><strong>STAVKE SPECIFIKACIJE</strong></h2>
            </div>
            <div class="cart__body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Šifra:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Artikal:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Procenat u masi:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Količina:</p>
                            <input type="number" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Da li se meri:</p>

                            <select name="" id="" class="input input--primary">
                                <option value=""></option>
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Magacin:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Komora:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Napomena:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>              
                </div>
            </div>
        </div>
        <div class="u-text-center">
            <button class="button button--primary">
                <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
                <strong>
                    SAČUVAJ
                </strong>
            </button>
        </div>
    </div>
</div>

<!--  Popup podaci o specifikaciji   -->
<div id="Podaciospecifikaciji" class="popup">
    <div class="popup__overlay"></div>
    <a id="PodaciClose" class="close-popup button button--green-circle">
        <img src="/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">

        <div class="cart">
            <div class="cart__header">
                <h2 class="clr-green u-text-center mb0"><strong>PODACI O SPECIFIKACIJI</strong></h2>
            </div>
            <div class="cart__body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Šifra:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Ime specifikacije:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Tip grla:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>Napomena:</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="u-text-center">
            <button class="button button--primary">
                <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
                <strong>
                    SAČUVAJ
                </strong>
            </button>
        </div>
    </div>
</div>
 <main>

    <div class="grid-wrapper grid-wrapper-two-columns grid-wrapper-single-row" style="grid-template-columns: 0.7fr 1fr;">

      <div class="grid-wrapper grid-wrapper-single-row">
        <div class="cart">
          <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
            <h4 class="mb0">SPECIFIKACIJE</h4>
           
          </div>
          <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="o-flex o-flex--center">
                        <a href="#" id="PodacioSpecifikaciji" class="button button--green-circle mr-">
                            <img src="/images/_add.png" alt="">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_sync.png" alt="">
                        </a>
                    </div>
            <div class="input-box input-box--search mb0 w-100 relative">
              <svg width="20" viewBox="0 0 512 512">
                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
              </svg>
              <input type="text" class="input input--secondary" placeholder="Pretraga specifikacija">
            </div>
          </div>
          <div class="cart__body">
            <div class="table-responsive">
              <table class="table mb0">
                <thead>
                  <tr>
                    <th style="width:30px"></th>
                    <th style="width:50px">ŠIFRA</th>
                    <th>IME</th>
                    <th style="width:60px">GRLO</th>
                    <th style="width:80px"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>31</td>
                    <td>Klanje svinja</td>
                    <td>Tovljenik</td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#" class="mr-">
                          <svg width="25" viewBox="0 0 48 48" xml:space="preserve">
                            <g fill="#069c9e">
                              <path d="M35 32.084v11.05H13V31.083H9v16.834h30V31.083h-4zM13 8V4h22v6.042h4V0H9v10.042h4z" />
                              <path d="M0 12.062v23.98h6.083v-7.667H41.959V36.042H48v-23.98z" />
                              <path d="M15.958 31.083h16.083v2.854H15.958zM15.958 36.042h12.01v3h-12.01z" />
                            </g>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>32</td>
                    <td>Klanje krmača</td>
                    <td>Krmača</td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#" class="mr-">
                          <svg width="25" viewBox="0 0 48 48" xml:space="preserve">
                            <g fill="#069c9e">
                              <path d="M35 32.084v11.05H13V31.083H9v16.834h30V31.083h-4zM13 8V4h22v6.042h4V0H9v10.042h4z" />
                              <path d="M0 12.062v23.98h6.083v-7.667H41.959V36.042H48v-23.98z" />
                              <path d="M15.958 31.083h16.083v2.854H15.958zM15.958 36.042h12.01v3h-12.01z" />
                            </g>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>33</td>
                    <td>Klanje prasadi</td>
                    <td>Prase</td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#" class="mr-">
                          <svg width="25" viewBox="0 0 48 48" xml:space="preserve">
                            <g fill="#069c9e">
                              <path d="M35 32.084v11.05H13V31.083H9v16.834h30V31.083h-4zM13 8V4h22v6.042h4V0H9v10.042h4z" />
                              <path d="M0 12.062v23.98h6.083v-7.667H41.959V36.042H48v-23.98z" />
                              <path d="M15.958 31.083h16.083v2.854H15.958zM15.958 36.042h12.01v3h-12.01z" />
                            </g>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>34</td>
                    <td>Klanje bekona</td>
                    <td>Bekon</td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#" class="mr-">
                          <svg width="25" viewBox="0 0 48 48" xml:space="preserve">
                            <g fill="#069c9e">
                              <path d="M35 32.084v11.05H13V31.083H9v16.834h30V31.083h-4zM13 8V4h22v6.042h4V0H9v10.042h4z" />
                              <path d="M0 12.062v23.98h6.083v-7.667H41.959V36.042H48v-23.98z" />
                              <path d="M15.958 31.083h16.083v2.854H15.958zM15.958 36.042h12.01v3h-12.01z" />
                            </g>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-wrapper grid-wrapper-single-row">
        <div class="cart">
          <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
            <h4 class="mb0">STAVKE SPECIFIKACIJE</h4>
            
          </div>
          <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
            <div class="o-flex o-flex--center">
                        <a href="#" id="StavkeSpecifikacije" class="button button--green-circle mr-">
                            <img src="/images/_add.png" alt="">
                        </a>
                </div>
              <div class="input-box input-box--search mb0 w-100 relative">               
              <svg width="20" viewBox="0 0 512 512">
                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
              </svg>
              <input type="text" class="input input--secondary" placeholder="Pretraga stavki">
            </div>
          </div>
          <div class="cart__body">
            <div class="table-responsive">
              <table class="table mb0">
                <thead>
                  <tr>
                    <th></th>
                    <th>OČEKIVANI ARTIKAL</th>
                    <th>PROCENAT U TEŽINI</th>
                    <th>KOL</th>
                    <th style="width:50px">DALI SE MERI?</th>
                    <th>MAGACIN</th>
                    <th>KOMORA</th>
                    <th style="width:70px">TRŽIŠNA CENA</th>
                    <th>NAPOMENA</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>4000 (Svinjska polutka) - Ohlađeno</td>
                    <td>0.807400</td>
                    <td class="u-text-right">2</td>
                    <td class="active u-text-center">Da</td>
                    <td>Tople polutke sa klanja</td>
                    <td>KOMORA 1</td>
                    <td class="active u-text-right">360.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>7500 (Jezik svinjski) - Ohlađeno</td>
                    <td>0.002200</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>Magacin iznutrica</td>
                    <td></td>
                    <td class="active u-text-right">320.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>7506 (Mozak svinjski) - Ohlađeno</td>
                    <td>0.000900</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>Magacin iznutrica</td>
                    <td></td>
                    <td class="active u-text-right">150.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>7512 (Grkljan svinjski) - Ohlađeno</td>
                    <td>0.002300</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>SPZP</td>
                    <td></td>
                    <td class="active u-text-right">220.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>7520 (Jetra svinjska) - Ohlađeno</td>
                    <td>0.018141</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>Magacin iznutrica</td>
                    <td></td>
                    <td class="active u-text-right">120.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>7526 (Pluća svinjska) - Ohlađeno</td>
                    <td>0.009900</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>SPZP</td>
                    <td></td>
                    <td class="active u-text-right">300.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>7530 (Bubrezi svinjski) - Ohlađeno</td>
                    <td>0.002211</td>
                    <td class="u-text-right">2</td>
                    <td class="active u-text-center">Ne</td>
                    <td>Magacin iznutrica</td>
                    <td></td>
                    <td class="active u-text-right">90.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>7540 (Srce svinjsko) - Ohlađeno</td>
                    <td>0.003347</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>Magacin iznutrica</td>
                    <td></td>
                    <td class="active u-text-right">180.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>

                   <tr>
                    <td>9</td>
                    <td>7579 (Maramica svinjska) - Ohlađeno</td>
                    <td>0.000755</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">ne</td>
                    <td>Magacin iznutrica</td>
                    <td></td>
                    <td class="active u-text-right">390.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                   <tr>
                    <td>10</td>
                    <td>7600 (Slezina svinjska) - Ohlađeno</td>
                    <td>0.001000</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>SPZP</td>
                    <td></td>
                    <td class="active u-text-right">220.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                   <tr>
                    <td>11</td>
                    <td>400183 (Krv) - Ohlađeno</td>
                    <td>0.030900</td>
                    <td class="u-text-right">1</td>
                    <td class="active u-text-center">Ne</td>
                    <td>SPZP</td>
                    <td></td>
                    <td class="active u-text-right">0.00</td>
                    <td></td>
                    <td>
                      <div class="o-flex o-flex--center">
                        <a href="#" class="mr--">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                        <a href="#">
                          <svg width="25" viewBox="0 0 48 48">
                            <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path d="M0 0h48v48H0z" fill="none"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                      <td>12</td>
                      <td>400219 (SPZP III kategorija) - Ohlađeno</td>
                       <td>0.080900</td>
                       <td class="u-text-right">1</td>
                       <td class="active u-text-center">Ne</td>
                       <td>SPZP</td>
                       <td></td>
                       <td class="active u-text-right">0.00</td>
                        <td></td>
                        <td>
                            <div class="o-flex o-flex--center">
                                 <a href="#" class="mr--">
                                       <svg height="18" width="18" viewBox="0 0 18 18">
                                          <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                       </svg>
                                 </a>
                                 <a href="#">
                                     <svg width="25" viewBox="0 0 48 48">
                                           <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z"></path>
                                           <path d="M0 0h48v48H0z" fill="none"></path>
                                     </svg>
                                 </a>
                                  <a href="#">
                                      <svg width="25" viewBox="0 0 48 48">
                                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                          <path d="M0 0h48v48H0z" fill="none"></path>
                                      </svg>
                                  </a>
                            </div>
                        </td>
                   </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

@section Scripts {
    <script>
     

        // Aktiviranje i deaktiviranje pop-upova

        $(document).ready(function () {
            $("#PodacioSpecifikaciji").click(function () {
                $("#Podaciospecifikaciji").addClass("is-active");
            });

            $("#PodaciClose").click(function () {
                $("#Podaciospecifikaciji").removeClass("is-active");
            });
        });

        $(document).ready(function () {
            $("#StavkeSpecifikacije").click(function () {
                $("#Stavkespecifikacije").addClass("is-active");
            });

            $("#StavkeClose").click(function () {
                $("#Stavkespecifikacije").removeClass("is-active");
            });
        });
       
    </script>
}