@page "/SpecificationSlaughter"
@model KlanicaPraksa.Pages.Processes.Specification_SlaughterModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SpecificationSlaughter" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SpecificationSlaughter">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SpecificationSlaughter">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

SPECIFICATION SLAUGHTER