@page "/Photo"
@model KlanicaPraksa.Pages.Photos.PhotoModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/Photo" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/Photo">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/Photo">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

PHOTO