@page "/RefinementInputChamber"
@model KlanicaPraksa.Pages.Refinements.Refinement_Input_ChamberModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/RefinementInputChamber" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementInputGroup" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementInputBarcode" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main>

    <div class="grid-wrapper grid-wrapper-two-row">

        <div class="grid-wrapper grid-wrapper-single-row" style="grid-template-columns: 60px 1fr 1fr 1fr;">
            <div class="cart cart--green border-top-radius-none border-right-radius-none o-flex o-flex--column">
                <div class="cart__header o-flex o-flex--center o-flex--justify">
                    <a href="#" onclick="myFunctionLevaKolona()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4">
                        <svg width="40" viewBox="0 0 512 512" xml:space="preserve">
                        <path fill="#fff" d="M206.7 124.7 337.9 256 206.7 387.3l-21.4-21.4L295.1 256 185.3 146.2l21.4-21.5zM512 256c0 141.5-114.5 256-256 256S0 397.5 0 256 114.5 0 256 0s256 114.5 256 256zm-29.8 0c0-124.7-101.5-226.2-226.2-226.2S29.8 131.3 29.8 256 131.3 482.2 256 482.2 482.2 380.7 482.2 256z" />
                        </svg>
                    </a>
                </div>

                <div class="cart__body o-flex o-flex--center o-flex--column o-flex--justify-center h-100">
                    <span class="rotated-text">OPCIJE ZA PRIKAZ LAGERA</span>
                </div>
            </div>

            <!--LEVA KOLONA-->
            <div id="LevaKolona" class="grid-wrapper" style="grid-template-rows: auto auto auto auto 1fr; ">
                <div class="cart cart--accordion border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header o-flex o-flex--center o-flex--justify">
                        <a href="#" onclick="myFunctionLot()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">LOT:<span class="clr-green font-16 ml-">RAS/01076</span></a>
                    </div>
                    <div id="Lot" class="cart__body">
                        <div class="o-flex o-flex--center">
                            <a href="#" class="button button--green-circle mr-">
                                <img src="/images/_add.png" alt="">
                            </a>
                            <a href="#" class="button button--green-circle">
                                <img src="/images/_sync.png" alt="">
                            </a>
                        </div>
                         <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th>DATUM</th>
                                        <th>NAPOMENA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>RAS/01097</td>
                                        <td>29.09.2022</td>
                                        <td>Rasecanje krmača 29.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>RAS/01079</td>
                                        <td>14.09.2022</td>
                                        <td>Ficla</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>RAS/01077</td>
                                        <td>13.09.2022</td>
                                        <td>Rasecanje škart</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>RAS/01076</td>
                                        <td>13.09.2022</td>
                                        <td>Rasecanje 13.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>RAS/01075</td>
                                        <td>12.09.2022</td>
                                        <td>Rasecanje 12.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>RAS/01074</td>
                                        <td>09.09.2022</td>
                                        <td>Rasecanje krmače</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>RAS/01073</td>
                                        <td>09.09.2022</td>
                                        <td>Rasecanje 9.9.2022.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Artikli-->
                <div class="cart cart--accordion border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                        <a href="#" onclick="myFunctionArtikli()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">ARTIKLI:<span class="clr-green font-16 ml-">Neobrađena slanina ekstra kat svinjska</span></a>
                    </div>
                    
                    
                    <div id="Artikli" class="cart__body">
                        <div class="cart__header cart__header--grid o-flex o-flex--center">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBnox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA . . .">
                        </div>
                    </div>
                        <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper w-100 o-flex--justify-center">
                            1 - 99 od 99
                        </div>    
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>
                    </div>
                    
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ARTIKAL</th>
                                        <th style="width:50px">KOM</th>
                                        <th>KG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>(Svinjska polutka) - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>300410.46</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>(Neobrađena slanina ekstra kat) - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>8100.30</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>(Praseće meso) - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>4584.94</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>(Francuska obrada svinjska - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>4302.25</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>(Polutka od krmača) - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>2956.74</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>(Čvrsto masno tkivo sa leđa) - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>2950.32</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>(Glava sa kostima svinjska) - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>1567.42</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>(Mesni obresci 50/50 svinjski) - Ohlađeno</td>
                                        <td class="u-text-right">1</td>
                                        <td>1526.60</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                 <div class="cart border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header">
                        <a href="" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">MAGACINI: <span class="clr-green font-16 ml-">Tople polutke sa klanja</span></a>
                    </div>
                </div>
                <!--Komore-->
                <div class="cart cart--accordion border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb--">
                        <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                            <a href="#" onclick="myFunctionKomore()" class="search-trigger-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">KOMORE: <span class="clr-green font-16 ml-">KOMORA 1</span></a>
                        </div>
                    </div>
                    <div id="Komore" class="cart__body">
                        <div class="o-flex o-flex--center">
                            <a href="#" class="button button--green-circle mr-">
                                <img src="/images/_add.png" alt="">
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                         <th>KOMORA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>KOMORA 1</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>KOMORA 2</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>KOMORA 3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>KOMORA 4</td>
                                    </tr>
                                     <tr>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>KOMORA 5</td>
                                    </tr>
                                     <tr>
                                        <td>6</td>
                                        <td>6</td>
                                        <td>KOMORA 6</td>
                                    </tr>
                                     <tr>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>KOMORA 7</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cart border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header">
                        <a href="" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">LINIJA PROIZVODNJE: <span class="clr-green font-16 ml-">Linija rasecanja</span></a>
                    </div> 
                </div>

            </div>

            <!--Dobavljači i artikli sa lagera-->
            <div class="grid-wrapper grid-wrapper-two-row">
                <div class="cart border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header">
                        <a href="#" onclick="myFunctionDobavljac()" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">DOBAVLJAČI</a>
                    </div>
                    <div id="Dobavljači" class="cart__body">
                          <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                        <a href="#" class="button button--green-circle">
                            <svg width="34" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                            </svg>
                        </a>
                        </div>
                         <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th>NAZIV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="cart border-top-radius-none border-bottom-radius-none">
                    <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb0">ARTIKAL SA LAGERA</h4>
                    </div>
                       <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                         <div class="input-box o-flex o-flex--center mb-- w-100">
                        <span class="mr" style="min-width: 100px;">LOT:</span>
                                <select name="" id="" class="input input--primary">
                                   <option value="">Da</option>
                                   <option value="">Ne</option>
                                </select>
                         </div>
                        </div>
                      <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                           <div class="o-flex o-flex--center">
                        <span class="mr-">Tip merenja:</span>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value=""></option>
                                <option value="">Automatski odabir jedne stavke</option>
                            </select>
                        </div>
                         </div>
                        </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper w-100 o-flex--justify-center">
                            1 - 99 od 99
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">25</option>
                                <option value="">50</option>
                                <option value="">75</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                        <a href="#" class="button button--green-circle">
                            <svg width="34" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                            </svg>
                        </a>
                        <div class="input-box mb0 o-flex o-flex--center">
                            <span class="mr-">Br. stavki:</span>
                            <input type="text" class="input input--secondary">
                        </div>
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="width:50px">LOT</th>
                                        <th>DOBAVLJAČ</th>
                                        <th style="width:40px">KG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid-wrapper grid-wrapper-three-row">

               
                <!--UNOS TEZINE-->
                <div class="cart border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header">
                        <a href="#" onclick="myFunctionUnostežine()" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">UNOS TEŽINE</a>
                    </div> 
               
                    <div id="Unostežine" style="display:block" class="cart__body pt">
                        
                             
                            <div class="col-xs-12 col-md-12"> 
                                <div class="input-box o-flex o-flex--center h-100">
                                    <span class="u-inline-block u-text-center  mr-">Tara: </span>
                                    <input type="text" class="input input--primary input--small">
                                </div>
                            </div>
                                
                       <div class="row">
                            <div class="col-xs-12 col-md-6"> 
                                <div class="input-box o-flex o-flex--center h-100">
                                     <span class="u-inline-block u-text-center mr-"><strong>Uzeto sve?</strong></span>  
                            <select name="" id="" class="input input--primary">
                                <option value=""></option>
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                                </div> 
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box o-flex o-flex--center h-100">
                                    <span class="u-inline-block u-text-center  mr-"><strong>Težina:</strong></span>
                                    <input type="text" class="input input--primary">
                                </div>
                            </div>
                       </div>    
                         <div class="col-xs-12 col-md-12">
                                <button class="button button--primary mw-100">
                                    <svg width="44" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                                    <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                                    </svg>
                                    <strong>
                                        SAČUVAJ
                                    </strong>
                                </button>
                            </div>
                    </div>
                </div>
                 <div class="cart border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header">
                        <a href="" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">UNOS TEŽINE</a>
                    </div> 
                </div>
                <!--IZMERENE STAVKE-->
                <div class="cart o-flex o-flex--column border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header">
                        <div class="cart__header pb-">
                            <h4 class="mb0">IZMERENE STAVKE</h4>
                        </div>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--" style="border-bottom: 1px solid #444444;">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="Pretraga. . .">
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            1 - 5 od 5
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0">
                            <span class="mr-">TEŽINE:</span>
                            <input type="text" class="input input--primary" value="16787.06" style="min-width: 120px;">
                        </div>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                        <a href="#" class="button button--green-circle">
                            <svg width="34" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                            </svg>
                        </a>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">GRUPNO:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="/images/_delete.png" alt="">
                        </a>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>ARTIKAL</th>
                                        <th>BARKOD</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KG</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check1" type="checkbox" name="">
                                                <label for="check1">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check2" type="checkbox" name="">
                                                <label for="check2">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check3" type="checkbox" name="">
                                                <label for="check3">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check4" type="checkbox" name="">
                                                <label for="check4">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check5" type="checkbox" name="">
                                                <label for="check5">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check6" type="checkbox" name="">
                                                <label for="check6">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check7" type="checkbox" name="">
                                                <label for="check7">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check8" type="checkbox" name="">
                                                <label for="check8">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check9" type="checkbox" name="">
                                                <label for="check9">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check10" type="checkbox" name="">
                                                <label for="check10">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check11" type="checkbox" name="">
                                                <label for="check11">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check12" type="checkbox" name="">
                                                <label for="check12">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check13" type="checkbox" name="">
                                                <label for="check13">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check14" type="checkbox" name="">
                                                <label for="check14">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check15" type="checkbox" name="">
                                                <label for="check15">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check16" type="checkbox" name="">
                                                <label for="check16">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check17" type="checkbox" name="">
                                                <label for="check17">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check18" type="checkbox" name="">
                                                <label for="check18">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check19" type="checkbox" name="">
                                                <label for="check19">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check20" type="checkbox" name="">
                                                <label for="check20">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check21" type="checkbox" name="">
                                                <label for="check21">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check22" type="checkbox" name="">
                                                <label for="check22">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000(Svinjska polutka) - Ohladjeno</td>
                                        <td class="u-text-right">01860610958600531030804901000180200214024</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td class="u-text-center">43.63</td>
                                        <td style="width: 30px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

    @section Scripts {
    <script>
        // prikazivanje menija za pretragu
        function myFunctionLot() {
            var x = document.getElementById("Lot");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunctionDobavljac() {
            var x = document.getElementById("Dobavljači");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunctionKomore() {
            var x = document.getElementById("Komore");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

         function myFunctionArtikli() {
            var x = document.getElementById("Artikli");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunctionLevaKolona() {
            var x = document.getElementById("LevaKolona");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
          function myFunctionUnostežine() {
            var x = document.getElementById("Unostežine");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}