@page "/RefinementInputLibela"
@model KlanicaPraksa.Pages.Refinements.Refinement_Input_LibelaModel
@{
}


<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/RefinementInputChamber" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementInputGroup" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementInputBarcode" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementInputLibela" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main>

    <div class="grid-wrapper grid-wrapper-single-row">

        <div class="grid-wrapper grid-wrapper-single-row grid-wrapper-two-columns">
            <div class="grid-wrapper grid-wrapper-two-row" style="grid-template-rows: 1fr auto;">
                <!--LOT-->
                <div class="cart border-top-radius-none border-bottom-radius-none">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb--">
                        <h3 class="mb0 h4">LOT: <span class="clr-green font-16">RAS/01097</span></h3>
                        <div class="o-flex o-flex--center">
                            <a href="#" class="button button--green-circle mr-">
                                <img src="~/images/_add.png" alt="">
                            </a>
                            <a href="#" class="button button--green-circle">
                                <img src="~/images/_sync.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th>DATUM</th>
                                        <th>NAPOMENA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>RAS/01097</td>
                                        <td>29.09.2022</td>
                                        <td>Rasecanje krmača 29.09.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>RAS/01079</td>
                                        <td>14.09.2022.</td>
                                        <td>Ficla</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>RAS/01077</td>
                                        <td>13.09.2022</td>
                                        <td>Rasecanje škart</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>RAS/01076</td>
                                        <td>13.09.2022</td>
                                        <td>Rasecanje 13.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>RAS/01075</td>
                                        <td>12.09.2022</td>
                                        <td>Rasecanje 12.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>RAS/01074</td>
                                        <td>09.09.2022</td>
                                        <td>Rasecanje krmače</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>RAS/01073</td>
                                        <td>09.09.2022</td>
                                        <td>Rasecanje 9.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>RAS/01098</td>
                                        <td>30.09.2022</td>
                                        <td>Rasecanje 30.9.2022.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!--LINIJA PROIZVODNJE-->
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify">
                        <a href="javascript:;" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="assets/images/arrow-down.png" alt="">LINIJA PROIZVODNJE: <span class="clr-green font-16 ml-">Linija klanja svinja</span></a>
                    </div>
                </div>
            </div>
            <!--DESNA KOLONA-->
            <div class="grid-wrapper grid-wrapper-two-row" style="grid-template-rows: auto 1fr;">
                <!--LIBELA ODVAGE-->
                <div class="cart o-flex o-flex--column border-bottom-radius-none border-top-radius-none">
                    <div class="cart__header">
                        <div class="cart__header pb-" style="border-bottom: 1px solid #444444;">
                            <h4 class="mb--">LIBELA ODVAGE</h4>
                        </div>
                    
                        <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">

                            <div class="input-box input-box--date relative mb0">
                                <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                                <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                                <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                        </svg>
                                <input type="date" class="input input--primary">
                            </div>
                            <a href="#" class="button button--green-circle">
                                <svg width="30" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                                </svg>
                            </a>
                            <a href="#" class="button button--green-circle">
                                <svg width="34" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                                </svg>
                            </a>
                            <a href="#" class="button button--green-circle">
                                <svg width="34" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                                </svg>
                            </a>

                            <div class="input-box o-flex o-flex--center mb0 w-100">
                                <span class="mr-">BR STAVKI:</span>
                                <input class="input--primary w-100" />
                            </div>
                            <a href="#" class="button button--green-circle">
                                <svg width="30" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                                </svg>
                            </a>                       
                        </div>
                    </div>
                    <div class="cart__body h-100">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>R.BR.</th>
                                        <th>DATUM</th>
                                        <th>LOT</th>
                                        <th>ARTIKAL</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KG</th>
                                        <th>KOM</th>
                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="cart__footer o-flex pt-" style="border-top: 1px solid #d8d7d7;">
                        <div class="col-xs-12 col-md-12">
                            <div class=" o-flex o-flex--justify-center">
                                <button class="button button--primary mw-100 button--big">
                                    <svg width="44" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                                    <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                            </svg>
                                    <strong>
                                        SAČUVAJ
                                    </strong>
                                </button>
                            </div>
                        </div>
                    </div>                       
                    
                </div>

                <!--IZMERENE STAVKE-->
                <div class="cart border-top-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb--">IZMERENE STAVKE</h4>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--" style="border-bottom: 1px solid #444444;">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            1 - 5 od 5
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0">
                            <span class="mr-">TEŽINE:</span>
                            <input type="text" class="input input--primary" value="16787.06" style="min-width: 120px;">
                        </div>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                        <a href="#" class="button button--green-circle">
                            <svg width="34" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                            </svg>
                        </a>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">GRUPNO:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_delete.png" alt="">
                        </a>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>ARTIKAL</th>
                                        <th>BARKOD</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KG</th>
                                        <th style="width: 35px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check21" type="checkbox" name="">
                                                <label for="check21">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030377001000161300169558</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>36.95</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check22" type="checkbox" name="">
                                                <label for="check22">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030475001000161300169585</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>46.55</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check23" type="checkbox" name="">
                                                <label for="check23">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030377001000161300169559</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>36.95</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check24" type="checkbox" name="">
                                                <label for="check24">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030373001000161300169560</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>36.55</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check25" type="checkbox" name="">
                                                <label for="check25">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030373001000161300169561</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>37.24</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check26" type="checkbox" name="">
                                                <label for="check26">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030416501000161300169562</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>40.82</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check27" type="checkbox" name="">
                                                <label for="check27">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030416501000161300169563</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>40.82</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check28" type="checkbox" name="">
                                                <label for="check28">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030310501000161300169564</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>34.89</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check29" type="checkbox" name="">
                                                <label for="check29">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030310501000161300169565</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>30.48</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check30" type="checkbox" name="">
                                                <label for="check30">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030378001000161300169566</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>37.04</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check31" type="checkbox" name="">
                                                <label for="check31">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030378001000161300169567</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>37.04</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check32" type="checkbox" name="">
                                                <label for="check32">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030431001000161300169568</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>42.24</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check33" type="checkbox" name="">
                                                <label for="check33">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030431001000161300169569</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>42.24</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check34" type="checkbox" name="">
                                                <label for="check34">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030437501000161300169570</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>42.88</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check35" type="checkbox" name="">
                                                <label for="check35">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030437501000161300169571</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>42.88</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check36" type="checkbox" name="">
                                                <label for="check36">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030390001000161300169572</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>38.22</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check37" type="checkbox" name="">
                                                <label for="check37">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030390001000161300169573</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>38.22</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check38" type="checkbox" name="">
                                                <label for="check38">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>0186061095860053103433501000161300169574</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>34.30</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check39" type="checkbox" name="">
                                                <label for="check39">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>01860610958600531030475001000161300169584</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>46.55</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check40" type="checkbox" name="">
                                                <label for="check40">
                                                    <div class="check-icon"></div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>0186061095860531030473001000161300169557</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 2</td>
                                        <td>46.35</td>
                                        <td style="width: 35px;">
                                            <div class="o-flex o-flex--center">
                                                <a href="#">
                                                    <svg width="25" viewBox="0 0 48 48">
                                                        <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                        <path d="M0 0h48v48H0z" fill="none"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!--

<footer class="footer-main">

</footer>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="assets/js/app.js"></script>

<script>
    $(document).ready(function () {
        /*-------------------------------------------------*/
        /* =  Script
        /*-------------------------------------------------*/
        $('.tree-box a').click(function () {
            $(this).parent().siblings('ul').toggle();
            $(this).toggleClass('is-active')
        });
    });
</script>