@page "/RefinementOutputWorkOrder"
@model KlanicaPraksa.Pages.Refinements.Refinement_Output_WorkOrderModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/RefinementOutputManual" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementOutputWorkOrder" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>
