@page "/RefinementInputGroup"
@model KlanicaPraksa.Pages.Refinements.Refinement_Input_GroupModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/RefinementInputChamber" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementInputGroup" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RefinementInputBarcode" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>
