@page "/BusinessPartnerList"
@model KlanicaPraksa.Pages.BusinessPartners.BusinessPartnerListModel
@{
}

<!--  Popup poslovni partneri    -->
<div id="Poslovnipartneri" class="popup">
    <div class="popup__overlay"></div>
    <a id="PoslovnipartneriClose" class="close-popup button button--green-circle">
        <img src="/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">

        <div class="cart">
            <div class="cart__header">
                <h2 class="clr-green u-text-center mb0"><strong>PODACI O POSLOVNOM PARTNERU</strong></h2>
            </div>
            <div class="cart__body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>ŠIFRA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>MATIČNI BROJ :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>NAZIV KOMPANIJE :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>DRŽAVA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>OPŠTINA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>GRAD :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>ADRESA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>PORESKI BROJ(PIB/JMBG) :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>REGISTARSKI BROJ(PIO) :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>PDV broj :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>ŠIFRA DELATNOSTI</p>
                            <input type="text" class="input input--primary" >
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>VALUTA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>JBJKS :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>OBAVEZNIK PDV-a :</p>
                           
                            <select name="" id="" class="input input--primary">
                                <option value=""></option>
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>MALOPRODAJA :</p>
                            
                            <select name="" id="" class="input input--primary">
                                <option value=""></option>
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>SAJT :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                     <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>KONTAKT OSOBA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                   
                </div>
            </div>
       </div>
        <div class="u-text-center">
            <button class="button button--primary">
                <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
                <strong>
                    SAČUVAJ
                </strong>
            </button>
        </div>
    </div>
 </div>

<!--  Popup organizacione jedinice    -->
<div id="Organizacionejedinice" class="popup">
    <div class="popup__overlay"></div>
    <a id="OrganizacionejediniceClose" class="close-popup button button--green-circle">
        <img src="/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">

        <div class="cart">
            <div class="cart__header">
                <h2 class="clr-green u-text-center mb0"><strong>ORGANIZACIONE JEDINICE(MALOPRODAJE)</strong></h2>
            </div>
            <div class="cart__body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>ŠIFRA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>NAZIV :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>DRŽAVA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>OPŠTINA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>GRAD :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>ADRESA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>TELEFON :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>MOBILNI :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>KONTAK OSOBA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>GPS X :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    
                    
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>GPS Y :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="u-text-center">
            <button class="button button--primary">
                <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
                <strong>
                    SAČUVAJ
                </strong>
            </button>
        </div>
    </div>
</div>
<!--  Popup bankovni računi   -->
<div id="Bankovniračuni" class="popup">
    <div class="popup__overlay"></div>
    <a id="BankovniračuniClose" class="close-popup button button--green-circle">
        <img src="/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">

        <div class="cart">
            <div class="cart__header">
                <h2 class="clr-green u-text-center mb0"><strong>BANKOVNI RAČUNI</strong></h2>
            </div>
            <div class="cart__body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>BROJ RAČUNA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>NAZIV BANKE :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>SWIFT :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        <div class="u-text-center">
            <button class="button button--primary">
                <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
                <strong>
                    SAČUVAJ
                </strong>
            </button>
        </div>
    </div>
</div>
<!--  Popup kontakti   -->
<div id="Kontakti" class="popup">
    <div class="popup__overlay"></div>
    <a id="KontaktiClose" class="close-popup button button--green-circle">
        <img src="/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">

        <div class="cart">
            <div class="cart__header">
                <h2 class="clr-green u-text-center mb0"><strong>KONTAKTI</strong></h2>
            </div>
            <div class="cart__body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>TELEFON :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>MOBILNI :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>FAX :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>EMAIL :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-box">
                            <p>KONTAKT OSOBA :</p>
                            <input type="text" class="input input--primary">
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        <div class="u-text-center">
            <button class="button button--primary">
                <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
                <strong>
                    SAČUVAJ
                </strong>
            </button>
        </div>
    </div>
</div>

<main class="w-100">
<div class="grid-wrapper grid-wrapper-three-row">

    <div class="grid-wrapper">
            <div class="cart cart--accordion">
                <div class="cart__header">
                    <a href="#" onclick="myFunction()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark" ><img class="mr-" src="/images/arrow-down.png" alt="">PRETRAGA</a>
                </div>

                <!-- When you click on .search-trigger, .cart__body will be display block -->

                <div id="Pretraga" class="cart__body" style="display: none; border:none">
                    <form action="" class="o-flex o-flex--center">
                        <div class="row w-100">
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box">
                                    <p>PRETRAGA PO IMENU:</p>
                                    <input type="text" class="input input--primary">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box">
                                    <p>PRETRAGA PO ŠIFRI:</p>
                                    <input type="text" class="input input--primary">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="input-box">
                                    <p>PRETRAGA PO PIBU:</p>
                                    <input type="text" class="input input--primary">
                                </div>
                            </div>
                            
                        <button class="button button--green-circle ml mr">
                            <svg width="30" viewBox="0 0 512 512">
                                <path fill="#fff" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="cart">
            <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                <h4 class="mb0">POSLOVNI PARTNERI</h4>
            </div>
            <div class="cart__header cart__header--grid o-flex o-flex--center">
                <a id="PoslovniPartneri" class="button button--green-circle">
                    <img src="~/images/_add.png" alt="">
                </a>
                <a href="#" class="button button--green-circle">
                    <img src="~/images/_sync.png" alt="">
                </a>

                <div class="input-box input-box--search mb0 w-100 relative">
                    <svg width="20" viewBox="0 0 512 512">
                        <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                    </svg>
                    <input type="text" class="input input--secondary" placeholder="PRETRAGA . . .">
                </div>

                <a href="#" class="button button--green-circle">
                    <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                </a>
                <a href="#" class="button button--green-circle">
                    <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                </a>
                <div class="number-wrapper">
                    1 - 1 od 1
                </div>
                <a href="#" class="button button--green-circle">
                    <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                </a>
                <a href="#" class="button button--green-circle">
                    <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                </a>
            </div>
            <div class="cart__body mt-">
                <div class="table-responsive" style="max-height: 77vh;">
                    <table class="table mb0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ŠIFRA</th>
                                <th>IME POSL. PARTNERA</th>
                                <th>MATIČNI BROJ</th>
                                <th>PIB</th>
                                <th>PIO</th>
                                <th>PDV</th>
                                <th>ŠIFRA DELATNOSTI</th>
                                <th>RABAT</th>
                                <th>VALUTA</th>
                                <th class="u-text-center">PDV?</th>
                                <th class="u-text-center">KONTAKT OSOBA</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>Business partner A</td>
                                <td>111111111</td>
                                <td>111111111</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td>Ne</td>
                                <td></td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>

                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>Business partner B</td>
                                <td>22222222</td>
                                <td>22222222</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td>Ne</td>
                                <td></td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>

                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>3</td>
                                <td>Business partner C</td>
                                <td>33333333</td>
                                <td>33333333</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td>Ne</td>
                                <td></td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>

                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>4</td>
                                <td>Breader BS562</td>
                                <td>BS562</td>
                                <td>BS562</td>
                                <td></td>
                                <td></td>
                                <td>BS562</td>
                                <td></td>
                                <td>0</td>
                                <td>Ne</td>
                                <td></td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>

                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>5</td>
                                <td>Breader MN490</td>
                                <td>MN490</td>
                                <td>MN490</td>
                                <td></td>
                                <td></td>
                                <td>MN490</td>
                                <td></td>
                                <td>0</td>
                                <td>Ne</td>
                                <td></td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>

                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="cart border-bottom-radius-none">
            <div class="cart__header cart__header--tabs o-flex o-flex--center">
                <ul class="tab-list o-flex o-flex--center mb0">
                    <li><a href="#" onclick="Organizacionej()">ORGANIZACIONE JEDINICE</a></li>
                    <li><a href="#" onclick="Lokacijeo()">LOKACIJE OBJEKATA</a></li>
                    <li><a href="#" onclick="Bankovnir()">BANKOVNI RAČUNI</a></li>
                    <li><a href="#" onclick="Kontakti()">KONTAKTI</a></li>
                </ul>
            </div>
        </div>
        <article class="grid-wrapper grid-wrapper-single-row">
         
            <div id="ORGANIZACIONE JEDINICE" class="cart border-top-radius-none border-left-radius-none" style="display:block">
                <div class="cart__header">
                    <h3 class="mb--">ORGANIZACIONE JEDINICE</h3>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center">
                    <a id="OrganizacioneJedinice" class="button button--green-circle">
                        <img src="~/images/_add.png" alt="">
                    </a>
                </div>
                <div class="cart__body mt-">
                    <div class="table-responsive" style="max-height: 77vh;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>
                                    <th>GRAD</th>
                                    <th>ADRESA</th>
                                    <th>KONTAKT OSOBA</th>
                                    <th>TELEFON</th>
                                    <th>MOBILNI</th>
                                    <th>KOMERCIJALISTA</th>
                                    <th class="u-text-center">GPSX</th>
                                    <th class="u-text-center">GPSY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>ORGANIZATION UNIT A</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="LOKACIJE OBJEKATA" class="cart border-top-radius-none border-left-radius-none" style="display:none">
                <div class="grid-wrapper grid-wrapper-single-row grid-wrapper-two-columns" style="grid-template-columns: 0.7fr 1fr;">

                    <div class="grid-wrapper">
                        <div class="cart">
                            <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                                <h4 class="mb0">OBJEKTI</h4>
                            </div>
                            <div class="cart__body">

                                <div class="table-responsive">
                                    <table class="table mb0">
                                        <thead>
                                            <tr>
                                                <th style="width:50px">R.BR</th>
                                                <th>NAZIV</th>
                                                <th style="width:50px">GRAD</th>
                                                <th style="width:70px">ADRESA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-wrapper grid-wrapper-single-row">

                        <div class="cart">
                            <div class="cart__header o-flex o-flex--center o-flex--justify">
                                <h4 class="mb0">LOKACIJE OBJEKATA</h4>
                            </div>
                            <div class="cart__body">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1024976.1205950287!2d18.969593667309475!3d44.79867572322441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ed8886cfadda85%3A0x72ef99e6b3fcf079!2z0JXQstGA0L7Qv9Cw!5e0!3m2!1ssr!2srs!4v1670581948433!5m2!1ssr!2srs" width="739" height="456" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                     </div>
            </div>
             </div>

            <div id="BANKOVNI RAČUNI" class="cart border-top-radius-none border-left-radius-none" style="display:none">
                <div class="cart__header">
                    <h3 class="mb--">BANKOVNI RAČUNI</h3>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center">
                    <a id="BankovniRačuni" class="button button--green-circle">
                        <img src="~/images/_add.png" alt="">
                    </a>
                </div>
                <div class="cart__body mt-">
                    <div class="table-responsive" style="max-height: 77vh;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:90px">BROJ RAČUNA</th>
                                    <th>NAZIV BANKE</th>
                                    <th style="width:60px">SWIFT</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="KONTAKTI" class="cart border-top-radius-none border-left-radius-none" style="display:none">
                <div class="cart__header">
                    <h3 class="mb--">KONTAKTI</h3>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center">
                    <a id="KontaktiEdit" class="button button--green-circle">
                        <img src="~/images/_add.png" alt="">
                    </a>
                </div>
                <div class="cart__body mt-">
                    <div class="table-responsive" style="max-height: 77vh;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:60px">TELEFON</th>
                                    <th style="width:60px">MOBILNI</th>
                                    <th style="width:40px">FAX</th>
                                    <th style="width:50px">EMAIL</th>
                                    <th>KONTAKT OSOBA</th>
                                    <th style="width:60px">NAPOMENA</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

@section Scripts {
    <script>
        // prikazivanje menija za pretragu
        function myFunction() {
            var x = document.getElementById("Pretraga");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
       //Sekcije menija ispod kontaktni, lokacije objekata, bankovni računi, organizacione jedinice
        function Organizacionej() {
            var x = document.getElementById("ORGANIZACIONE JEDINICE");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function Lokacijeo() {
            var x = document.getElementById("LOKACIJE OBJEKATA");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
           
        }

        function Bankovnir() {
            var x = document.getElementById("BANKOVNI RAČUNI");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
           
        }

        function Kontakti() {
            var x = document.getElementById("KONTAKTI");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
           
        }

    // Aktiviranje i deaktiviranje pop-upova

        $(document).ready(function () {
            $("#PoslovniPartneri").click(function () {
                $("#Poslovnipartneri").addClass("is-active");
            });

            $("#PoslovnipartneriClose").click(function () {
                $("#Poslovnipartneri").removeClass("is-active");
            });
        });

        $(document).ready(function () {
            $("#OrganizacioneJedinice").click(function () {
                $("#Organizacionejedinice").addClass("is-active");
            });

            $("#OrganizacionejediniceClose").click(function () {
                $("#Organizacionejedinice").removeClass("is-active");
            });
        });
        $(document).ready(function () {
            $("#BankovniRačuni").click(function () {
                $("#Bankovniračuni").addClass("is-active");
            });

            $("#BankovniračuniClose").click(function () {
                $("#Bankovniračuni").removeClass("is-active");
            });
        });
         $(document).ready(function () {
            $("#KontaktiEdit").click(function () {
                $("#Kontakti").addClass("is-active");
            });

            $("#KontaktiClose").click(function () {
                $("#Kontakti").removeClass("is-active");
            });
        });
    </script>
}