@page "/InputNoteList"
@model KlanicaPraksa.Pages.InputNotes.InputNote_ListModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/InputNoteFast" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/InputNoteLot" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main>
    <div class="grid-wrapper grid-wrapper-five-row">
        <div class="cart border-bottom-radius-none">
            <div class="cart__header cart__header--tabs o-flex o-flex--center">
                <ul class="tab-list o-flex o-flex--center mb0">
                    <li><a href="/InputNoteLot">PRIJEM - LOT</a></li>
                    <li><a href="/InputNoteList" class="is-active">PRIJEM - AKTIVNI</a></li>
                    <li><a href="/InputNoteList">PRIJEM - ARHIVA</a></li>
                    <li><a href="/InputNoteList">PRIJEM - STORNIRANI</a></li>
                </ul>
            </div>
        </div>

        INPUT NOTE LIST

    </div>
</main>