@page "/InputNoteFast"
@model KlanicaPraksa.Pages.InputNotes.InputNote_FastModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/InputNoteFast" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/InputNoteLot" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

INPUT NOTE FAST