@page "/FavorList"
@model KlanicaPraksa.Pages.Products.FavorListModel
@{
}
<!DOCTYPE html>
<html>
    <body>
           <div class="cart__header cart__header--grid o-flex o-flex--center">
          <a href="#" class="button button--green-circle">
            <img src="/images/_add.png" alt="">
          </a>
          
          <a href="#" class="button button--green-circle">
            <img src="/images/_sync.png" alt="">
          </a>

          <div class="input-box input-box--search mb0 w-100 relative">
            <svg width="20" viewBox="0 0 512 512">
              <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z"></path>
            </svg>
            <input type="text" class="input input--secondary" placeholder="KLIKNITE ZA PRETRAGU PRIJEMNICA . . .">
          </div>

          <a href="#" class="button button--green-circle">
            <img src="/images/_leftleft.png" alt="" style="margin-right: 3px;">
          </a>
          <a href="#" class="button button--green-circle">
            <img src="/images/_left.png" alt="" style="margin-right: 3px;">
          </a>
          <div class="number-wrapper">
            1 - 1
          </div>
          <a href="#" class="button button--green-circle">
            <img src="/images/_right.png" alt="" style="margin-left: 3px;">
          </a>
          <a href="#" class="button button--green-circle">
            <img src="/images/_rightright.png" alt="" style="margin-left: 3px;">
          </a>
        </div>
      <ul>
       <div class="cart__body mt-">
        <div class="table-responsive" style="max-height: 77vh;">
            <table class="table mb0">
                <thead>
                    <tr>
                        <th></th>
                        <th>ŠIFRA</th>
                        <th>NAZIV</th>
                        
                        
                        <th>PDV</th>
                        
                        
                        
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                            <td>USLUGA PRANJA</td>
                        
                        <td class="u-text-right">20.000000</td>
                        
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
       </div>
      </ul> 
    </body>
    
</html>