@page "/ProductPackageWeight"
@model KlanicaPraksa.Pages.Products.ProductPackageWeightModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/ProductList" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAnimalWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAverageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductPackageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductDefaultFrozen">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductExpeditionNote">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<!--TIPOVI ARTIKALA-->
<main>

    <div class="grid-wrapper grid-wrapper-single-row" style="grid-template-columns: 0.3fr 1fr ;">

        <div class="grid-wrapper grid-wrapper-two-row">
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                    <h4 class="mb0">TIPOVI ARTIKALA</h4>
                    <div class="o-flex o-flex--center">
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/menu-icon-white-png-5.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>Waste</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>Pork meat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>Beef meat</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>Horse meat</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>Lamb meat</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>5</td>
                                    <td>Chicken meat</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>6</td>
                                    <td>Turkey meat</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>7</td>
                                    <td>Merchandise</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>9</td>
                                    <td>Final Products</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>10</td>
                                    <td>Spices</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb0">PODTIPOVI ARTIKALA</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="KLIKNITE ZA PRETRAGU PODTIPOVA ARTIKALA. . .">
                    </div>
                </div>
                <!--PODTIPOVI ARTIKALA-->
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>Pork meat - fresh</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>Pork meat - frozen</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>Pork entrail - fresh</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>Pork entrail - frozen</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>Pork eatable - fresh</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>Pork eatable - frozen</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--ARTIKLI U PROCESU (TAJ ŠTO RADIM TRENUTNO)-->
        <div class="grid-wrapper grid-wrapper-single-row">
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb0">ARTIKLI</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="Pretraga . . .">
                    </div>
                    <div class="input-box mb0">
                        <select name="" id="" class="input input--primary input--small">
                            <option value="">Prikaži sve artikle</option>
                            <option value="">Prikaži artikle sa klanja</option>
                            <option value="">Prikaži artikle sa četvrtanja</option>
                            <option value="">Prikaži artikle rasecanja</option>
                            <option value="">Prikaži artikle sa prerade</option>
                            <option value="">Prikaži artikle iz minusne komore</option>
                            <option value="">Prikaži artikle ekspedicije</option>
                        </select>
                    </div>

                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper">
                        1 - 50 od 52
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>
                </div>

                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>                               
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>                                    
                                    <th>PROS. TEŽINA LODONE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>                                   
                                    <td>4000</td>
                                    <td>Carcase side pork</td>
                                     <td class="u-text-right">0.00</t>                            
                                </tr>
                                <tr>
                                    <td>2</td>                                   
                                    <td>4001</td>
                                    <td>Carcase side S.D</td>
                                     <td class="u-text-right">0.00</t>                             
                                </tr>
                                <tr>
                                    <td>3</td>                                   
                                    <td>4002</td>
                                    <td>French cut with skeen pork</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>4</td>                                   
                                    <td>4003</td>
                                    <td>Carcase side show</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>5</td>                                   
                                    <td>4004</td>
                                    <td>French cut pork</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>6</td>                                   
                                    <td>4005</td>
                                    <td>Milano cut long pork</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>7</td>                                   
                                    <td>4006</td>
                                    <td>Malono cut pork</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>8</td>                                    
                                    <td>4011</td>
                                    <td>Carcase piglet</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>9</td>                                   
                                    <td>4012</td>
                                    <td>Roasting pig, split</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>10</td>                                   
                                    <td>4040</td>
                                    <td>Shoulder bone in with hock and skeen pork</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>11</td>                                   
                                    <td>4042</td>
                                    <td>Shoulder bone in pork</td>
                                    <td class="u-text-right">0.00</td>
                                </tr>
                                <tr>
                                    <td>12</td>                                   
                                    <td>4043</td>
                                    <td>Shoulder bone less pork</td>
                                    <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>13</td>                                    
                                    <td>4050</td>
                                    <td>Shoulder bone in with hock and skeen sow</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>14</td>                                   
                                    <td>4052</td>
                                    <td>Shoulder bone less sow</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>15</td>                                   
                                    <td>4053</td>
                                    <td>Shoulder bone less sow</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>16</td>                                   
                                    <td>4060</td>
                                    <td>Neck bone in pork</td>
                                     <td class="u-text-right">0.00</t>                             
                                </tr>
                                <tr>
                                    <td>17</td>                                   
                                    <td>4148</td>
                                    <td>Neck bone in sow</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>18</td>                                  
                                    <td>4160</td>
                                    <td>Ribs pork</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>19</td>                                   
                                    <td>4162</td>
                                    <td>Shoulder ribs pork</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>20</td>                                    
                                    <td>4171</td>
                                    <td>Forequarter shank bone in pork</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>21</td>                                 
                                    <td>4172</td>
                                    <td>Hindquarter shank pork</td>
                                      <td class="u-text-right">0.00</t>
                                </tr>
                                <tr>
                                    <td>22</td>                                  
                                    <td>4200</td>
                                    <td>Leg bone in with hock and skeen pork</td>
                                     <td class="u-text-right">0.00</t>                          
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!--

<footer class="footer-main">

</footer>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {
        /*-------------------------------------------------*/
        /* =  Script
        /*-------------------------------------------------*/
        $('.tree-box a').click(function () {
            $(this).parent().siblings('ul').toggle();
            $(this).toggleClass('is-active')
        });
    });
</script>



