@page "/ProductExpeditionNote"
@model KlanicaPraksa.Pages.Products.ProductExpeditionNoteModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/ProductList" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAnimalWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAverageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductPackageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductDefaultFrozen">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductExpeditionNote">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>



<div id="Productexpedition" class="popup">
    <div class="popup__overlay"></div>
      <a id="ProductexpeditionClose" class="close-popup button button--green-circle">
        <img src="~/images/menu-icon-white-png-5.jpg" alt="">
      </a>
    <div class="popup__content">
      <div class="cart">
        <div class="cart__header">
          <h2 class="clr-green u-text-center mb0"><strong>OSNOVNI PODACI</strong></h2>
        </div>
        <div class="cart__body">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="input-box">
                <p>NAZIV:</p>
                <input type="text" class="input input--primary">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="input-box">
                <p>STAROST OD (dana):</p>
                <input type="text" class="input input--primary">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="input-box">
                <p>STAROST DO (dana):</p>
                <input type="text" class="input input--primary">
              </div>
                    </div>
              <div class="col-xs-12 col-md-6">
              <div class="input-box">
                <p>TEŽINA</p>
                <input type="text" class="input input--primary">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-text-center">
        <button class="button button--primary">
          <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
            <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
          <strong>
            SAČUVAJ
          </strong>
        </button>
      </div>
    </div>
</div>


<!--TIPOVI ARTIKALA-->
<main>

    <div class="grid-wrapper grid-wrapper-single-row" style="grid-template-columns: 0.3fr 1fr ;">

        <div class="grid-wrapper grid-wrapper-two-row">
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                    <h4 class="mb0">TIPOVI ARTIKALA</h4>
                    <div class="o-flex o-flex--center">
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/menu-icon-white-png-5.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>Waste</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>Pork meat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>Beef meat</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>Horse meat</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>Lamb meat</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>5</td>
                                    <td>Chicken meat</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>6</td>
                                    <td>Turkey meat</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>7</td>
                                    <td>Merchandise</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>9</td>
                                    <td>Final Products</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>10</td>
                                    <td>Spices</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb0">PODTIPOVI ARTIKALA</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="KLIKNITE ZA PRETRAGU PODTIPOVA ARTIKALA. . .">
                    </div>
                </div>
                <!--PODTIPOVI ARTIKALA-->
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>Pork meat - fresh</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>Pork meat - frozen</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>Pork entrail - fresh</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>Pork entrail - frozen</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>Pork eatable - fresh</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>Pork eatable - frozen</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--ARTIKLI U PROCESU (TAJ ŠTO RADIM TRENUTNO)-->
        <div class="grid-wrapper grid-wrapper-single-row">
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb0">ARTIKLI</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">                   
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="Pretraga . . .">
                    </div>
                    <div class="input-box mb0">
                        <select name="" id="" class="input input--primary input--small">
                            <option value="">Prikaži sve artikle</option>
                            <option value="">Prikaži artikle sa klanja</option>
                            <option value="">Prikaži artikle sa četvrtanja</option>
                            <option value="">Prikaži artikle rasecanja</option>
                            <option value="">Prikaži artikle sa prerade</option>
                            <option value="">Prikaži artikle iz minusne komore</option>
                            <option value="">Prikaži artikle ekspedicije</option>
                        </select>
                    </div>

                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper">
                        1 - 50 od 52
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>
                </div>

                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>NAZIV</th>
                                    <th style="width:70px">UPOTREBLJIVO DANA</th>
                                    <th style="width:70px">TEMPERATURA ČUVANJA</th>
                                    <th style="width:90px">PROIZVODNI BARKOD</th>
                                    <th style="width:60px">J.M.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 50px;">1</td>
                                    <td style="width: 50px;">4000</td>
                                    <td>Carcase side pork</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004000</td>
                                    <td>kg</td>                         
                                </tr>
                                <tr>
                                    <td style="width: 50px;">2</td>
                                    <td style="width: 50px;">4001</td>
                                    <td>Carcase side S.D</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004001</td>
                                    <td>kg</td>                              
                                </tr>
                                <tr>
                                    <td style="width: 50px;">3</td>
                                    <td style="width: 50px;">4002</td>
                                    <td>French cut with skeen pork</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004002</td>
                                    <td>kg</td>                              
                                </tr>
                                <tr>
                                    <td style="width: 50px;">4</td>
                                    <td style="width: 50px;">4003</td>
                                    <td>Carcase side sow</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004003</td>
                                    <td>kg</td>                           
                                </tr>
                                <tr>
                                    <td style="width: 50px;">5</td>
                                    <td style="width: 50px;">4004</td>
                                    <td>French cut pork</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004004</td>
                                    <td>kg</td>                               
                                </tr>
                                <tr>
                                    <td style="width: 50px;">6</td>
                                    <td style="width: 50px;">4005</td>
                                    <td>Milano cut long pork</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004005</td>
                                    <td>kg</td>                                 
                                </tr>
                                <tr>
                                    <td style="width: 50px;">7</td>
                                    <td style="width: 50px;">4006</td>
                                    <td>Malono cut pork</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004006</td>
                                    <td>kg</td>                               
                                </tr>
                                <tr>
                                    <td style="width: 50px;">8</td>
                                    <td style="width: 50px;">4011</td>
                                    <td>Carcase piglet</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004011</td>
                                    <td>kg</td>                                   
                                </tr>
                                <tr>
                                    <td style="width: 50px;">9</td>
                                    <td style="width: 50px;">4012</td>
                                    <td>Roasting pig, split</td>
                                    <td>7</td>
                                    <td>0-4</td>
                                    <td>8600000004012</td>
                                    <td>kg</td>                              
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="grid-wrapper grid-wrapper-single-row">
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb0">NAPOMENE ZA EKSPEDICIJU</h4>
                    </div>

                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a id="ProductExpedition" class="button button--green-circle">
                           <img src="images/_add.png" alt="">
                        </a>
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="Pretraga . . .">
                        </div>                      
                    </div>

                    <div class="cart__body mt-">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>                                   
                                    <th>NAZIV</th>
                                    <th style="width:70px">Starost od<br />(dana)</th>
                                    <th style="width:70px">Starost do<br />(dana)</th>
                                    <th style="width:90px">Težina</th>
                                    <th></th>                                    
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="width: 50px;">1</td>
                                    <td style="width: 50px;">Naziv napomene</td>
                                    <td>15.00</td>
                                    <td>25.00</td>
                                    <td>150.00</td>                                                                        
                                    <td style="width: 50px;">
                                        <div class="o-flex o-flex--center">
                                            <a href="#" class="mr-">
                                                <svg height="18" width="18" viewBox="0 0 18 18">
                                                    <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                                </svg>
                                            </a>

                                            <a href="#">
                                                <svg width="25" viewBox="0 0 48 48">
                                                    <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                    <path d="M0 0h48v48H0z" fill="none"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </td>
                                </tr>                              
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</main>

<!--

<footer class="footer-main">

</footer>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/app.js"></script>

<script>


    $(document).ready(function () {
        $("#ProductExpedition").click(function () {
            $("#Productexpedition").addClass("is-active");
        });

        $("#ProductexpeditionClose").click(function () {
            $("#Productexpedition").removeClass("is-active");
        });
    });
</script>



