@page "/ProductCategoryByGroup"
@model KlanicaPraksa.Pages.Products.ProductCategoryByGroupModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/ProductCategoryByGroup" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductCategoryList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

