@page "/ProductList"
@model KlanicaPraksa.Pages.Products.ProductListModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/ProductList" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAnimalWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAverageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductPackageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductDefaultFrozen">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductExpeditionNote">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

Product list