@page "/ProductVisibilityList"
@model KlanicaPraksa.Pages.Products.ProductVisibilityListModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/ProductVisibilityList" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductVisibilityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

Product visibility