@page "/ProductAnimalWeight"
@model KlanicaPraksa.Pages.Products.ProductAnimalWeightModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/ProductList" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAnimalWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductAverageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductPackageWeight">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductDefaultFrozen">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/ProductExpeditionNote">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main>
    <div class="grid-wrapper">
        <div class="cart cart--accordion">
            <div class="cart">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb--"> PRODUCT ANIMAL WEIGHT:</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">

                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z"></path>
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="Pretraga">
                    </div>


                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th style="width:25px"></th>
                                    <th style="width:25px"></th>
                                    <th style="width:70px">ŠIFRA</th>
                                    <th>NAZIV</th>

                                    <th>PRIKAZ PO KOM</th>
                                    <th>PROS. TEŽINA</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check1" type="checkbox" name="">
                                            <label for="check1">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100001</td>
                                    <td>PIG</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check2" type="checkbox" name="">
                                            <label for="check2">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check3" type="checkbox" name="">
                                            <label for="check3">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100002</td>
                                    <td>BULL</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check4" type="checkbox" name="">
                                            <label for="check4">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check5" type="checkbox" name="">
                                            <label for="check5">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100003</td>
                                    <td>SOW</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check6" type="checkbox" name="">
                                            <label for="check6">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check7" type="checkbox" name="">
                                            <label for="check7">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100004</td>
                                    <td>SHEEP</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check8" type="checkbox" name="">
                                            <label for="check8">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check9" type="checkbox" name="">
                                            <label for="check9">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100005</td>
                                    <td>PIGLET</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check10" type="checkbox" name="">
                                            <label for="check10">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check11" type="checkbox" name="">
                                            <label for="check11">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100006</td>
                                    <td>CALF</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check12" type="checkbox" name="">
                                            <label for="check12">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check13" type="checkbox" name="">
                                            <label for="check13">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100007</td>
                                    <td>COW</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check14" type="checkbox" name="">
                                            <label for="check14">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check15" type="checkbox" name="">
                                            <label for="check15">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100009</td>
                                    <td>LAMB</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check16" type="checkbox" name="">
                                            <label for="check16">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check17" type="checkbox" name="">
                                            <label for="check17">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100011</td>
                                    <td>BOAR</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check18" type="checkbox" name="">
                                            <label for="check18">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check19" type="checkbox" name="">
                                            <label for="check19">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100012</td>
                                    <td>BEEF</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check20" type="checkbox" name="">
                                            <label for="check20">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check21" type="checkbox" name="">
                                            <label for="check21">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100014</td>
                                    <td>GOAT</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check22" type="checkbox" name="">
                                            <label for="check22">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check23" type="checkbox" name="">
                                            <label for="check23">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100015</td>
                                    <td>GOATLING</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check24" type="checkbox" name="">
                                            <label for="check24">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check25" type="checkbox" name="">
                                            <label for="check25">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100016</td>
                                    <td>CAPRICORN</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check26" type="checkbox" name="">
                                            <label for="check26">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check27" type="checkbox" name="">
                                            <label for="check27">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100017</td>
                                    <td>RAM</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check28" type="checkbox" name="">
                                            <label for="check28">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check29" type="checkbox" name="">
                                            <label for="check29">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100018</td>
                                    <td>Mangulice</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check30" type="checkbox" name="">
                                            <label for="check30">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check31" type="checkbox" name="">
                                            <label for="check31">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100019</td>
                                    <td>Bekon</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check32" type="checkbox" name="">
                                            <label for="check32">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check33" type="checkbox" name="">
                                            <label for="check33">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>100022</td>
                                    <td>PIG</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check34" type="checkbox" name="">
                                            <label for="check34">
                                                <div class="check-icon"></div>
                                            </label>
                                        </div>
                                    <td style="width: 100px;"><input type="text" class="input input--primary input--small"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

