@page "/UnitOfMeasurementList"
@model KlanicaPraksa.Pages.Products.UnitOfMeasurementListModel
@{
}
<!DOCTYPE html>
<html>
<body>
    <div>Merne Jedinice</div>
    <div>
        <button class="btn-primary">DODAJ</button>
        <button class="btn-primary">OSVEŽI</button>
    </div>
    <div>
   <table class="table">
       <thead>
         <tr>
             <th>ŠIFRA</th>
             <th>MERNA JEDINICA</th>
         </tr>
       </thead>
       <tbody>
          <tr>
              <td>1</td>
              <td>kg</td>
              <td>
                  <button class="button--secondary">Izmenite</button>
              </td>
          </tr>
       </tbody>
   </table>
    </div>
</body>
</html>
