@page "/SlaughterOutputLibela"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_Output_LibelaModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterOutputManual" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputWorkOrder" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputLibela" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputGroup" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputNormativ" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main>

    <div class="grid-wrapper grid-wrapper-single-row">

        <article class="grid-wrapper grid-wrapper-single-row grid-wrapper-two-columns">
            <div class="grid-wrapper grid-wrapper-two-row" style="grid-template-rows: 1fr auto;">
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb--">
                        <h3 class="mb0 h4">IZLAZNI ARTIKAL - DEALJNO: <span class="clr-green font-16">KLS/01584</span></h3>
                        <div class="o-flex o-flex--center">
                            <a href="#" class="button button--green-circle mr-">
                                <img src="~/images/_add.png" alt="">
                            </a>
                            <a href="#" class="button button--green-circle">
                                <img src="~/images/_sync.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th>DATUM</th>
                                        <th>KUPAC</th>
                                        <th>NAP.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>KLS/01802</td>
                                        <td>30.09.2022</td>
                                        <td>PTK Panonija a.d.</td>
                                        <td>PTK Panonija</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>KLS/01779</td>
                                        <td>20.09.2022</td>
                                        <td>Doža Đerđ d.o.o</td>
                                        <td>Doža Đerđ doo</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>KLS/01686</td>
                                        <td>29.07.2022</td>
                                        <td>Bioesen doo FARMA</td>
                                        <td>BIOESEN FARMA</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>KLS/01584</td>
                                        <td>08.06.2022</td>
                                        <td>Bioesen doo Farma</td>
                                        <td>Bioesen -škart</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify">
                        <a href="javascript:;" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">LINIJA PROIZVODNJE: <span class="clr-green font-16 ml-">Linija klanja svinja</span></a>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper grid-wrapper-three-row">
                <div class="cart border-bottom-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb--">LIBELA ODVAGE</h4>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box input-box--date relative mb0">
                            <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                               <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                               <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                            </svg>
                            <input type="date" class="input input--primary" style="min-width: 250px;">
                        </div>
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                        <a href="#" class="button button--green-circle">
                            <svg width="34" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                            </svg>
                        </a>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/nav/__edit1.png" alt="">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">Br. stavki:</span>
                            <input type="text" class="input input--primary">
                        </div>

                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 512 512" xml:space="preserve">
                            <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                </svg>
                        </a>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>                                 
                                        <th>R.BR.</th>
                                        <th>LOT</th>
                                        <th>ARTIKAL</th>
                                        <th>BARKOD</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KG</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check1" type="checkbox" name="">
                                                <label for="check1">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>400</td>
                                        <td>KLS/12548</td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>321563153123501231000012310</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>42.23</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check2" type="checkbox" name="">
                                                <label for="check2">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>400</td>
                                        <td>KLS/12548</td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>321563153123501231000012310</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>42.23</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check3" type="checkbox" name="">
                                                <label for="check3">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>400</td>
                                        <td>KLS/12548</td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>321563153123501231000012310</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>42.23</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check4" type="checkbox" name="">
                                                <label for="check4">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>400</td>
                                        <td>KLS/12548</td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td>321563153123501231000012310</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>42.23</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cart border-top-radius-none border-bottom-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb--">UNOS TEŽINE</h4>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt--">
                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">TARA :</span>
                            <input type="text" class="input input--primary" value="0.00">
                        </div>
                        <button class="button button--primary">
                            <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                              <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                            </svg>
                            <strong>
                                SAČUVAJ
                            </strong>
                        </button>

                    </div>
                </div>
                <div class="cart border-top-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb--">IZLAZNI ARTIKLI</h4>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--" style="border-bottom: 1px solid #444444;">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            1 - 5 od 5
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0">
                            <span class="mr-">TEŽINE:</span>
                            <input type="text" class="input input--primary" value="48294.00" style="min-width: 120px;">
                        </div>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                        <a href="#" class="button button--green-circle">
                            <svg width="34" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                            </svg>
                        </a>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">GRUPNO:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_delete.png" alt="">
                        </a>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>R.BR.</th>
                                        <th>LOT</th>
                                        <th>ARTIKAL</th>
                                        <th>BARKOD</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KG</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check1" type="checkbox" name="">
                                                <label for="check1">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214038</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check2" type="checkbox" name="">
                                                <label for="check2">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>599</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214037</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                      <tr>
                                        <td>3</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check3" type="checkbox" name="">
                                                <label for="check3">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>598</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214036</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                      <tr>
                                        <td>4</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check4" type="checkbox" name="">
                                                <label for="check4">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>597</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214035</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                      <tr>
                                        <td>5</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check5" type="checkbox" name="">
                                                <label for="check5">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>596</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214034</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                      <tr>
                                        <td>6</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check6" type="checkbox" name="">
                                                <label for="check6">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>595</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214033</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                      <tr>
                                        <td>7</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check7" type="checkbox" name="">
                                                <label for="check7">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>594</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214032</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                      <tr>
                                        <td>8</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check8" type="checkbox" name="">
                                                <label for="check8">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>593</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214031</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>
                                      <tr>
                                        <td>9</td>
                                        <td style="width: 30px;">
                                            <div class="check-box">
                                                <input id="check9" type="checkbox" name="">
                                                <label for="check9">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>592</td>
                                        <td>KLS/1802</td>
                                        <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                        <td>01860610958600531030804901000180200214030</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td>KOMORA 1</td>
                                        <td>80.49</td>
                                    </tr>                                      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

