@page "/SlaughterOutputNormativ"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_Output_NormativModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterOutputManual" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputWorkOrder" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputLibela" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputGroup" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputNormativ" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

SLAUGHTER OUTPUT NORMATIV