@page "/SlaughterOutputGroup"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_Output_GroupModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterOutputManual" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputWorkOrder" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputLibela" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputGroup" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputNormativ" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>



<main>
    <div class="grid-wrapper grid-wrapper-single-row grid-wrapper-two-columns" style="grid-template-columns: 45% 1fr;">
        <article class="grid-wrapper grid-wrapper-four-row grid-wrapper-one-columns">
            <div class="grid-wrapper grid-wrapper-two-columns grid-wrapper-single-row" style="grid-template-columns: 1fr 1fr;">
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb--">
                        <h3 class="mb0 h4">LOT: <span class="clr-green font-16">KLS/01802</span></h3>
                        <div class="o-flex o-flex--center">
                            <a href="#" class="button button--green-circle mr-">
                                <img src="~/images/_add.png" alt="">
                            </a>
                            <a href="#" class="button button--green-circle">
                                <img src="~/images/_sync.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive" style="max-height: 17vh;">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th>DATUM</th>
                                        <th>KUPAC</th>
                                        <th>NAP.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>KLS/01802</td>
                                        <td>30.09.2022</td>
                                        <td>PTK Panonija</td>
                                        <td>PTK Panonija</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>KLS/01779</td>
                                        <td>20.07.2022</td>
                                        <td>Doža Đ</td>
                                        <td>Đoža Đerđ doo</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>KLS/01686</td>
                                        <td>29.07.2022</td>
                                        <td>Bioesen doo Farma</td>
                                        <td>BIOESEN FARMA</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>KLS/01584</td>
                                        <td>08.06.2022</td>
                                        <td>Bioesen doo Farma</td>
                                        <td>Bioesen -škart</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="grid-wrapper">
                    <div class="cart border-bottom-radius-none">
                        <div class="cart__header">
                            <a href="javascript:;" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">MAGACIN: <span class="clr-green font-16 ml-">TOPLE POLUTKE SA KLANJA</span></a>
                        </div>
                    </div>
                    <div class="cart border-top-radius-none">
                        <div class="cart__header o-flex o-flex--center o-flex--justify mb--">
                            <h3 class="mb0 h4">KOMORA: <span class="clr-green font-16">komora 4</span></h3>
                            <div class="o-flex o-flex--center">
                                <a href="#" class="button button--green-circle">
                                    <img src="~/images/menu-icon-white-png-5.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="cart__body">
                            <div class="table-responsive" style="max-height: 10vh;">
                                <table class="table mb0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ŠIFRA</th>
                                            <th>KOMORA</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>KOMORA 1</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>KOMORA 2</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>KOMORA 3</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>KOMORA 4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart">
                <div class="cart__header">
                    <a href="javascript:;" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">LINIJA PROIZVODNJE: <span class="clr-green font-16 ml-">LINIJA KLANJA SVINJA</span></a>
                </div>
            </div>
            <div class="cart border-bottom-radius-none">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb--">ARTIKAL:</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="Pretraga. . .">
                    </div>

                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper">
                        
                        0 - 0 od 0
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>
                </div>
                <div class="cart__body">
                    <div class="table-responsive" style="max-height: 12vh;">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ARTIKAL</th>
                                    <th>KOM</th>
                                    <th>KG</th>

                                </tr>
                            </thead>                          
                        </table>
                    </div>
                </div>
            </div>

            <div class="cart cart--accordion border-top-radius-none active">
                <div class="cart__header is-active">
                    <a href="javascript:;" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">POMOĆNA TASTATURA</a>
                </div>

                <div class="cart__body u-text-center">
                    <img src="~/images/keyboard.png" alt="">
                </div>
            </div>
        </article>
        <article class="grid-wrapper">

            <div class="cart border-bottom-radius-none">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h3 class="mb--">UNOS ODVAGA</h3>
                </div>
                <div class="cart__body pt">
                    <div class="row">                        
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>ŠTAMPA:</p>
                                <select name="" id="" class="input input--primary">
                                    <option value=""></option>
                                    <option value="">pdv 2</option>
                                    <option value="">pdv 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>BROJ ETIKETA:</p>
                                <select name="" id="" class="input input--primary">
                                    <option value=""></option>
                                    <option value="">pdv 2</option>
                                    <option value="">pdv 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>KOM:</p>
                                <select name="" id="" class="input input--primary">
                                    <option value=""></option>
                                    <option value="">pdv 2</option>
                                    <option value="">pdv 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>TARA:</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>REDNI BROJ:</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>NAPOMENA:</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box o-flex  h-100">
                                <span class="u-inline-block u-text-center mr-" style="margin-top: 25px;"><strong>UNESITE <br> TEŽINU:</strong></span>
                                <input type="text" class="input input--primary input--big">

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button class="button button--primary mw-100 button--big">
                                <svg width="44" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                  </svg>
                                <strong>
                                    SAČUVAJ
                                </strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart border-top-radius-none">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb--">IZMERENI ARTIKLI ZA DOBAVLJAČA:</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--" style="border-bottom: 1px solid #444444;">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                    </div>

                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper">
                        1 - 11 od 11
                    </div>
                    <div class="input-box mb0">
                        <select name="" id="" class="input input--primary">
                            <option value="">20</option>
                            <option value="">22</option>
                            <option value="">25</option>
                        </select>
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>

                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">TEŽINE:</span>
                        <input type="text" class="input input--primary" value="4628.00" style="min-width: 120px;">
                    </div>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <a href="#" class="button button--green-circle">
                        <svg width="30" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                        </svg>
                    </a>
                    <a href="#" class="button button--green-circle">
                        <svg width="34" viewBox="0 0 512 512">
                            <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                        </svg>
                    </a>

                    <div class="input-box o-flex o-flex--center mb0 w-100">
                        <span class="mr-">GRUPNO:</span>
                        <select name="" id="" class="input input--primary">
                            <option value="">Da</option>
                            <option value="">Ne</option>
                        </select>
                    </div>

                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_delete.png" alt="">
                    </a>
                </div>
                <div class="cart__body">
                    <div class="table-responsive" style="max-height: 38vh;">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>R.BR.</th>
                                    <th>LOT</th>
                                    <th>ARTIKAL</th>
                                    <th>BARKOD</th>
                                    <th>MAGACIN</th>
                                    <th>KOMORA</th>
                                    <th>KG</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check1" type="checkbox" name="">
                                            <label for="check1">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>611</td>
                                    <td>KLS/01802</td>
                                    <td>7600 (Slezina svinjska) - Ohlađeno</td>
                                    <td>01860000000760031030300001000180200213989</td>
                                    <td>SPZP</td>
                                    <td></td>
                                    <td>30.00</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check2" type="checkbox" name="">
                                            <label for="check2">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>610</td>
                                    <td>KLS/01802</td>
                                    <td>7579 (Maramica svinjska) - Ohlađeno</td>
                                    <td>01860000000757931030230001000180200213988</td>
                                    <td>Magacin iznutra</td>
                                    <td></td>
                                    <td>23.00</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check3" type="checkbox" name="">
                                            <label for="check3">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>609</td>
                                    <td>KLS/01802</td>
                                    <td>7540 (Srce svinjsko) - Ohlađeno</td>
                                    <td>018606109586685310310000010000180200213987</td>
                                    <td>Magacin iznutrica</td>
                                    <td></td>
                                    <td>100.00</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check4" type="checkbox" name="">
                                            <label for="check4">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>608</td>
                                    <td>KLS/01802</td>
                                    <td>7530 (Bubrezi svinjski) - Ohlađeno</td>
                                    <td>0186061095866738310313200010000180200213986</td>
                                    <td>Magacin iznutrica</td>
                                    <td></td>
                                    <td>132.00</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check5" type="checkbox" name="">
                                            <label for="check5">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>607</td>
                                    <td>KLS/01802</td>
                                    <td>7526 (Pluća svinjska) - Ohlađeno</td>
                                    <td>01860000000752631032960001000180200213985</td>
                                    <td>SPZP</td>
                                    <td></td>
                                    <td>296.00</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check6" type="checkbox" name="">
                                            <label for="check6">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>606</td>
                                    <td>KLS/01802</td>
                                    <td>7520 (Jetra polutka) - Ohlađeno</td>
                                    <td>01860610958666131035420001000180200213984</td>
                                    <td>Magacin iznutrica</td>
                                    <td></td>
                                    <td>542.00</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check7" type="checkbox" name="">
                                            <label for="check7">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>605</td>
                                    <td>KLS/01802</td>
                                    <td>7512 (Grkljan svinjski) - Ohlađeno</td>
                                    <td>01860610958665431030690001000180200213983</td>
                                    <td>SPZP</td>
                                    <td></td>
                                    <td>69.00</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check8" type="checkbox" name="">
                                            <label for="check8">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>604</td>
                                    <td>KLS/01802</td>
                                    <td>7506 (Mozak svinjski) - Ohlađeno</td>
                                    <td>01860610958663031030270001000180200213982</td>
                                    <td>Magacin iznutrica</td>
                                    <td></td>
                                    <td>27.00</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check9" type="checkbox" name="">
                                            <label for="check9">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>603</td>
                                    <td>KLS/01802</td>
                                    <td>7500 (Jezik svinjski) - Ohlađeno</td>
                                    <td>01860610958662331030660001000180200213981</td>
                                    <td>Magacin iznutrica</td>
                                    <td></td>
                                    <td>66.00</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check10" type="checkbox" name="">
                                            <label for="check10">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>602</td>
                                    <td>KLS/01802</td>
                                    <td>400219 (SPZP III kategorija) - Ohlađeno</td>
                                    <td>01400219310324190001000180200213980</td>
                                    <td>SPZP</td>
                                    <td></td>
                                    <td>2419.00</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td style="width: 30px;">
                                        <div class="check-box">
                                            <input id="check11" type="checkbox" name="">
                                            <label for="check11">
                                                <span class="check-icon"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>601</td>
                                    <td>KLS/01802</td>
                                    <td>400183 (Krv) - Ohlađeno</td>
                                    <td>0140018331039240001000180200213979</td>
                                    <td>SPZP</td>
                                    <td></td>
                                    <td>924.00</td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>


