@page "/SlaughterLot"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_LotModel
@{
}

<main>
    <div class="grid-wrapper grid-wrapper-five-row">
        <div class="cart border-bottom-radius-none">
            <div class="cart__header cart__header--tabs o-flex o-flex--center">
                <ul class="tab-list o-flex o-flex--center mb0">
                    <li><a href="/SlaughterLot" class="is-active">PRIJEM - LOT</a></li>
                    <li><a href="/SlaughterList">PRIJEM - AKTIVNI</a></li>
                    <li><a href="/SlaughterList">PRIJEM - ARHIVA</a></li>
                    <li><a href="/SlaughterList">PRIJEM - STORNIRANI</a></li>
                </ul>
            </div>
        </div>

        SLAUGHTER LOT

    </div>
</main>