@page "/SlaughterInputManual"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_Input_ManualModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterInputManual" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

SLAUGHTER INPUT MANUAL