@page "/SlaughterCreate"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_CreateModel
@{
}

<div id="DodajLotAddEdit"  class="popup popup--big">
    <div class="popup__overlay"></div>
    <a id="DodajLotClose" class="close-popup button button--green-circle">
        <img src="~/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">
        <div class="grid-wrapper grid-wrapper-two-row">
            <div class="cart">
                <div class="cart__header">
                    <h2 class="clr-green u-text-center mb0"><strong>OSNOVNI PODACI O LOT-U</strong></h2>
                </div>
                <div class="cart__body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>ŠIFRA (AUTOMATSKI) :</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box input-box--date relative">
                                <p>DATUM ZA LOT : </p>
                                <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                                    <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                                    <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                </svg>
                                <input type="date" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                             <div class="input-box">
                                <p>GRUPA PROCESA :</p>
                                <input type="text" class="input input--primary" placeholder="2 (Proizvodnja svinjskog mesa)">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                             <div class="input-box">
                                <p>PROCES :</p>
                                <input type="text" class="input input--primary" placeholder="10 (Klanje svinja)">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                             <div class="input-box">
                                <p>NAZIV DRŽAVE :</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper grid-wrapper-two-columns" style="grid-template-columns: 1fr 1fr ;">
                <div class="cart">
                    <div class="cart__header">
                        <h2 class="clr-green u-text-center mb0"><strong>PRIJEMI</strong></h2>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>LOT</th>
                                        <th>DATUM</th>
                                        <th>KOM</th>
                                        <th>DOBAVLJAČ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ORIG/01371</td>
                                        <td>14.09.2021</td>
                                        <td>99</td>
                                        <td>RIT d.o.o.</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>ORIG/01371</td>
                                        <td>14.09.2021</td>
                                        <td>99</td>
                                        <td>RIT d.o.o.</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>ORIG/01371</td>
                                        <td>14.09.2021</td>
                                        <td>99</td>
                                        <td>RIT d.o.o.</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>ORIG/01371</td>
                                        <td>14.09.2021</td>
                                        <td>99</td>
                                        <td>RIT d.o.o.</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>ORIG/01371</td>
                                        <td>14.09.2021</td>
                                        <td>99</td>
                                        <td>RIT d.o.o.</td>
                                    </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>ORIG/01371</td>
                                            <td>14.09.2021</td>
                                            <td>99</td>
                                            <td>RIT d.o.o.</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <div class="cart__header">
                        <h2 class="clr-green u-text-center mb0"><strong>RADNI NALOZI</strong></h2>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th>ŠIFRA</th>
                                        <th>DATUM NALOGA</th>
                                        <th></th>
                                        <th>TIP GRLA</th>
                                        <th>POD TIP</th>
                                    </tr>
                                </thead>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-text-center">
            <button class="button button--primary">
                <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                    <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                </svg>
                <strong>
                    SAČUVAJ
                </strong>
            </button>
        </div>
    </div>
</div>


<main>

    <div class="grid-wrapper grid-wrapper-two-columns grid-wrapper-single-row">

        <div class="grid-wrapper grid-wrapper-two-row" style="grid-template-rows: 1fr auto;">
            

            <div class="cart border-top-radius-none border-bottom-radius-none">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                    <h4 class="mb0">LOT KLS/01802</h4>
                    <div class="o-flex o-flex--center">
                        <a id="DodajLotAdd" class="button button--green-circle mr-">
                            <img src="~/images/_add.png" alt="">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_sync.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>DATUM</th>
                                    <th>KUPAC</th>
                                    <th>NAPOMENA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>KLS/01802</td>
                                    <td>30.09.2022</td>
                                    <td>PTK Panonija a.d.</td>
                                    <td>PTK Panonija</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>KLS/01779</td>
                                    <td>20.09.2022</td>
                                    <td>Doža Đerđ d.o.o.</td>
                                    <td>Doža Đerđ doo</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>KLS/01686</td>
                                    <td>29.07.2022</td>
                                    <td>Biosen doo FARMA</td>
                                    <td>BIOSEN FARMA</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>KLS/01584</td>
                                    <td>08.06.2022</td>
                                    <td>Biosen doo FARMA</td>
                                    <td>Biosen -škart</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--DATUM-->
            <div class="grid-wrapper grid-wrapper-three-row">
            <div class="cart cart--accordion border-top-radius-none">
                <div class="cart__header o-flex o-flex--center o-flex--justify ">
                    <a href="#" onclick="myFunctionDatum()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="/images/arrow-down.png" alt="">DATUM I OPIS</a>
                </div>
                <div id="Datum" class="cart__body">
                    
                        
                            <div class="o-flex o-flex--center o-flex--justify pt-- pb--">
                                <p>Početak klanja :</p>
                                <div class="input-box input-box--date relative">
                                    <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                                        <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                                        <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                    </svg>
                                    <input type="date" class="input input--primary">
                                </div>
                            </div>
                            
                            <div class="o-flex o-flex--center o-flex--justify pt-- pb--">
                            <p>Kraj klanja :</p>
                                <div class="input-box input-box--date relative">    
                                    <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                                        <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                                        <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                    </svg>
                                    <input type="date" class="input input--primary">
                                </div>
                            </div>
                            <!--
                            <div class="o-flex o-flex--center o-flex--justify pt-- pb--">
                            
                                <div class="input-box input-box--date relative">
                                    <p>Opis :</p>
                                <form style="resize:none">
                                    
                                    <textarea rows="5" cols="50" name="description"></textarea>
                                </form>
                                </div>
                            </div>
                            -->
                            <div class="o-flex o-flex--center o-flex--justify pt-- pb--">
                            <p>Opis:</p>
                            <div class="input-box">

                                <input type="text" class="input input--primary" size="16" height="200">
                                </div>
                            </div>
                    
                </div>
            </div>
        </div>
        </div>
        <div class="grid-wrapper grid-wrapper-four-row">

            <!--ULAZNE STAVKE-->
            <div class="cart cart--accordion">
                <div class="cart__header pb-" style="border-bottom: 1px solid #444444;">
                    <a href="#" onclick="myFunctionUlazneStavke()"class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">ULAZNE STAVKE</a>
                </div>
                <div id="UlazneStavke">
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                        </div>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">GRUPNO:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            1 - 5 od 5
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0">
                            <span class="mr-">TEŽINE:</span>
                            <input type="text" class="input input--primary u-text-right" value="29907.06" style="min-width: 120px;">
                        </div>
                    </div>

                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th></th>
                                        <th></th>
                                        <th>KOLIČINA</th>
                                        <th>KG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>100001</td>
                                        <td>Tovljenici</td>
                                        <td>Depo 1</td>
                                        <td class="u-text-right">300</td>
                                        <td class="u-text-right">29,907.00</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--IZLAZNE STAVKE - POJEDINACNO MERENJE-->
            <div class="cart cart--accordion">
                <div class="cart__header pb-" style="border-bottom: 1px solid #444444;">
                    <a href="#" onclick="myFunctionIzlazneStavkePojedinacno()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">IZLAZNE STAVKE - POJEDINAČNO MERENJE</a>
                </div>
                <div id="IzlazneStavkePojedinacno">
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                        </div>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">GRUPNO:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            1 - 5 od 5
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0">
                            <span class="mr-">TEŽINE:</span>
                            <input type="text" class="input input--primary u-text-right" value="48294.00" style="min-width: 120px;">
                        </div>
                    </div>

                    <div  class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ARTIKAL</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KOLIČINA</th>
                                        <th>KG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>4000 (Svinjska polutka)</td>
                                        <td>Tople polutke sa klanja</td>
                                        <td></td>
                                        <td class="u-text-right">600</td>
                                        <td class="u-text-right">48,294.00</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--IZLAZNE STAVKE - GRUPNO MERENJE-->
            <div class="cart cart--accordion">
                <div class="cart__header pb-" style="border-bottom: 1px solid #444444;">
                    <a href="#" onclick="myFunctionIzlazneStavkeGrupno()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">IZLAZNE STAVKE - GRUPNO MERENJE</a>
                </div>
                <div id="IzlazneStavkeGrupno">
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                        </div>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">GRUPNO:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            1 - 5 od 5
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0">
                            <span class="mr-">TEŽINE:</span>
                            <input type="text" class="input input--primary u-text-right" value="4628.00" style="min-width: 120px;">
                        </div>
                    </div>

                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ARTIKAL</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KOLIČINA</th>
                                        <th>KG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>400183 (Krv)</td>
                                        <td>SPZP</td>
                                        <td></td>
                                        <td class="u-text-right">1</td>
                                        <td class="u-text-right">924.00</td>
                                    <tr>
                                        <td>2</td>
                                        <td>400219 (SPZP III kategorija)</td>
                                        <td>SPZP</td>
                                        <td></td>
                                        <td class="u-text-right">1</td>
                                        <td class="u-text-right">2419.00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>7500 (Jezik svinjski)</td>
                                        <td>Magacin iznutrica</td>
                                        <td></td>
                                        <td class="u-text-right">1</td>
                                        <td class="u-text-right">66.00</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>7506 (Mozak svinjski)</td>
                                        <td>Magacin iznutrica</td>
                                        <td></td>
                                        <td class="u-text-right">1</td>
                                        <td class="u-text-right">27.00</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>7512 (Grkljan svinjski)</td>
                                        <td>SPZP</td>
                                        <td></td>
                                        <td class="u-text-right">1</td>
                                        <td class="u-text-right">69.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--BUTTONI DNO-->
            <div class="o-flex o-flex--center o-flex--justify-center">
                <button class="button button--primary button--small mr-">
                    <img src="~/images/_submit.png" alt="" width="26" class="mr">
                    <strong>
                        POPUNI ULAZNE STAVKE
                    </strong>
                </button>
                <button class="button button--primary button--small mr-">
                    <img src="~/images/_submit.png" alt="" width="26" class="mr">
                    <strong>
                        PROKNJIŽI I ZAVRŠI
                    </strong>
                </button>
                <button class="button button--primary button--small">
                    <img src="~/images/_sync.png" alt="" width="26" class="mr">
                    <strong>
                        OSVEŽI
                    </strong>
                </button>
            </div>
        </div>
    </div>

</main>

<!--

<footer class="footer-main">

</footer>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="assets/js/app.js"></script>

<script>
    $(document).ready(function() {
      /*-------------------------------------------------*/
      /* =  Script
      /*-------------------------------------------------*/
      $('.tree-box a').click(function() {
        $(this).parent().siblings('ul').toggle();
        $(this).toggleClass('is-active')
      });
    });
</script>

@section Scripts {
    <script>
        // prikazivanje menija za pretragu
        function myFunctionDatum() {
            var x = document.getElementById("Datum");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunctionUlazneStavke() {
            var x = document.getElementById("UlazneStavke");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunctionIzlazneStavkePojedinacno() {
            var x = document.getElementById("IzlazneStavkePojedinacno");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunctionIzlazneStavkeGrupno() {
            var x = document.getElementById("IzlazneStavkeGrupno");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        $(document).ready(function () {
            $("#DodajLotAdd").click(function () {
                $("#DodajLotAddEdit").addClass("is-active");
            });

            $("#DodajLotClose").click(function () {
                $("#DodajLotAddEdit").removeClass("is-active");
            });
        });

    </script>
}
