@page "/SlaughterCalculation"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_CalculationModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterCalculation" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterCalculation">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterCalculation">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>




<main class="w-100">
    <div class="grid-wrapper" style="grid-template-rows: 1fr auto;">
        <article class="grid-wrapper grid-wrapper-single-row grid-wrapper-two-columns">
            <div class="grid-wrapper grid-wrapper-single-row">
                <!--KLANJA-->
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify pb--" style="border-bottom: 1px solid #444444;">                       
                        <h3 class="mb0 h4">KLANJA</h3>
                        <div class="o-flex o-flex--center">
                            <a href="#" class="button button--green-circle mr--">
                                <svg width="30" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                                </svg>
                            </a>
                            <a href="#" class="button button--green-circle">
                                <svg width="34" viewBox="0 0 512 512">
                                    <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--" style="border-bottom: 1px solid #444444;">

                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper w-100 o-flex--justify-center">
                            1 - 25 od 1770
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="KLIKNITE ZA PRETRAGU LAGERA. . .">
                        </div>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>LOT</th>
                                        <th>DATUM</th>
                                        <th>NAPOMENA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check1" type="checkbox" name="">
                                                <label for="check1">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01801</td>
                                        <td>29.09.2022</td>
                                        <td>Bioesen - prasad</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check2" type="checkbox" name="">
                                                <label for="check2">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01800</td>
                                        <td>29.09.2022</td>
                                        <td>Bioesen - škart</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check3" type="checkbox" name="">
                                                <label for="check3">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01799</td>
                                        <td>29.09.2022</td>
                                        <td>Rit doo</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check4" type="checkbox" name="">
                                                <label for="check4">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01798</td>
                                        <td>28.09.2022</td>
                                        <td>Bioesen - prasad</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check5" type="checkbox" name="">
                                                <label for="check5">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01797</td>
                                        <td>28.09.2022</td>
                                        <td>Neosistem 2021</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check6" type="checkbox" name="">
                                                <label for="check6">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01796</td>
                                        <td>28.09.2022</td>
                                        <td>Doža Đerđ doo</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check7" type="checkbox" name="">
                                                <label for="check7">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01795</td>
                                        <td>28.09.2022</td>
                                        <td>Bioesen farma</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check8" type="checkbox" name="">
                                                <label for="check8">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01794</td>
                                        <td>28.09.2022</td>
                                        <td>Bioesen - krmače</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check9" type="checkbox" name="">
                                                <label for="check9">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01793</td>
                                        <td>27.09.2022</td>
                                        <td>Doža Đerđ doo</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check10" type="checkbox" name="">
                                                <label for="check10">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01792</td>
                                        <td>27.09.2022</td>
                                        <td>Bioesen doo</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check11" type="checkbox" name="">
                                                <label for="check11">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01791</td>
                                        <td>27.09.2022</td>
                                        <td>Euro rp</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check12" type="checkbox" name="">
                                                <label for="check12">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01790</td>
                                        <td>26.09.2022</td>
                                        <td>Euro rp</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check13" type="checkbox" name="">
                                                <label for="check13">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01789</td>
                                        <td>26.09.2022</td>
                                        <td>Mass Agrar doo</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check14" type="checkbox" name="">
                                                <label for="check14">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01788</td>
                                        <td>26.09.2022</td>
                                        <td>Bioesen doo FARMA</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check15" type="checkbox" name="">
                                                <label for="check15">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01787</td>
                                        <td>23.09.2022</td>
                                        <td>Bioesen doo FARMA</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check16" type="checkbox" name="">
                                                <label for="check16">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01786</td>
                                        <td>22.09.2022</td>
                                        <td>Doža Đerđ</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check17" type="checkbox" name="">
                                                <label for="check17">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01785</td>
                                        <td>22.09.2022</td>
                                        <td>Rit doo</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check18" type="checkbox" name="">
                                                <label for="check18">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01784</td>
                                        <td>21.09.2022</td>
                                        <td>Doža Đerđ doo</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>
                                            <div class="check-box">
                                                <input id="check19" type="checkbox" name="">
                                                <label for="check19">
                                                    <span class="check-icon"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>KLS/01783</td>
                                        <td>21.09.2022</td>
                                        <td>Euro rp doo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--CENA KOŠTANJA-->
            <div class="grid-wrapper grid-wrapper-six-row" style="max-height: 87.3vh; overflow: auto;">
                <div class="cart" style="background-color: #e6e9f0;">
                    <div class="cart__header o-flex o-flex--center o-flex--justify-center mb0 ">
                        <h3 class="mb0 h4">CENA KOŠTANJA</h3>
                        <img src="~/images/calculator.png" alt="" width="40" class="ml- mr-">
                        <h3 class="mb0 h4">PRERAČUNAJ SELEKTOVANE</h3>

                    </div>
                </div>
                <!--ULAZNI ARTIKLI SA CENOM-->
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb0 pb- ">
                        <h3 class="mb0 h4">ULAZNI ARTIKLI SA CENOM</h3>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th>ARTIKAL</th>
                                        <th>LOT</th>
                                        <th>KG</th>
                                        <th>PROIZVODNA <br> CENA KOŠTANJA</th>
                                        <th>PROIZVODNA <br> VREDNOST</th>
                                        <th style="width: 35px;"></th>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>100001</td>
                                        <td>Tovljenici</td>
                                        <td>PRIG/02054</td>
                                        <td class="u-text-right">9,774.40</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">0.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>                                               
                                    <tr>
                                        <td>2</td>
                                        <td>100002</td>
                                        <td>Centralni magacin</td>
                                        <td>PRIG/02053</td>
                                        <td class="u-text-right">9,774.40</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">0.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><img src="~/images/sigma.png" width="15" alt=""></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="u-text-right">11,125.48</td>
                                        <td></td>
                                        <td class="u-text-right">8,987.18</td>
                                        <td></td>
                                    </tr>
                                </tfoot>                                                                    
                            </table>
                        </div>
                    </div>
                </div>
                <!--IZLAZNI ARTIKLI SA CENOM KOŠTANJA-->
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb--">
                        <h3 class="mb0 h4">IZLAZNI ARTIKLI SA CENOM KOŠTANJA</h3>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th>ARTIKAL</th>
                                        <th>KG</th>
                                        <th>PROIZVODNA <br> CENA KOŠTANJA</th>
                                        <th>PROIZVODNA <br> VREDNOST</th>
                                        <th>TRŽIŠNA CENA</th>
                                        <th>TRŽIŠNA <br> VREDNOST</th>
                                        <th>RUV</th>
                                        <th style="width: 35px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>4000</td>
                                        <td>Svinjska polutka</td>
                                        <td class="u-text-right">7,851.60</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">6,281.28</td>
                                        <td class="u-text-right">360.00</td>
                                        <td class="u-text-right">2,826,576.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>7500</td>
                                        <td>Jezik svinjski</td>
                                        <td class="u-text-right">21.60</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">17.28</td>
                                        <td class="u-text-right">320.00</td>
                                        <td class="u-text-right">6,912.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>7506</td>
                                        <td>Mozak svinjski</td>
                                        <td class="u-text-right">8.80</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">7.04</td>
                                        <td class="u-text-right">150.00</td>
                                        <td class="u-text-right">1,320.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>7512</td>
                                        <td>Grkljan svinjski</td>
                                        <td class="u-text-right">22.40</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">17.92</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>7520</td>
                                        <td>Jetra svinjska</td>
                                        <td class="u-text-right">177.60</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">142.08</td>
                                        <td class="u-text-right">120.00</td>
                                        <td class="u-text-right">21,312.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>7526</td>
                                        <td>Pluca svinjska</td>
                                        <td class="u-text-right">96.80</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">77.44</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>7530</td>
                                        <td>Bubrezi svinjski</td>
                                        <td class="u-text-right">22.40</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">17.92</td>
                                        <td class="u-text-right">90.00</td>
                                        <td class="u-text-right">1,016.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>7540</td>
                                        <td>Srce svinjsko</td>
                                        <td class="u-text-right">32.80</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">26.24</td>
                                        <td class="u-text-right">180.00</td>
                                        <td class="u-text-right">5,904.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>7579</td>
                                        <td>Maramica svinjska</td>
                                        <td class="u-text-right">7.20</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">5.76</td>
                                        <td class="u-text-right">390.00</td>
                                        <td class="u-text-right">2,808.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>7600</td>
                                        <td>Slezina svinjska</td>
                                        <td class="u-text-right">9.60</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">7.68</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>400183</td>
                                        <td>Krv</td>
                                        <td class="u-text-right">302.40</td>
                                        <td class="u-text-right">0.80</td>
                                        <td class="u-text-right">241.92</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">0.00</td>
                                        <td class="u-text-right">46.00</td>
                                        <td style="width: 35px;">
                                            <svg width="18" viewBox="0 0 48 48">
                                                <path fill="#069c9e" d="M30 37c-5.01 0-9.36-2.84-11.53-7H30v-4H17.17c-.1-.65-.17-1.32-.17-2s.07-1.35.17-2H30v-4H18.47c2.17-4.16 6.51-7 11.53-7 3.23 0 6.18 1.18 8.45 3.13L42 10.6A17.94 17.94 0 0 0 30 6c-7.83 0-14.48 5.01-16.95 12H6v4h6.12c-.08.66-.12 1.32-.12 2 0 .68.04 1.34.12 2H6v4h7.05c2.47 6.99 9.12 12 16.95 12 4.61 0 8.82-1.75 12-4.6l-3.55-3.54A12.929 12.929 0 0 1 30 37z" />
                                                <path d="M0 0h48v48H0z" fill="none" />
                                            </svg>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--AMORTIZACIJA-->
            <div class="grid-wrapper">
                <div class="cart cart--accordion">
                   <div class="cart__header">
                      <a href="#" onclick="myFunction()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark"><img class="mr-" src="/images/arrow-down.png" alt="">AMORTIZACIJA</a>
                   </div>

                <!-- When you click on .search-trigger, .cart__body will be display block -->

                <div id="Pretraga" class="cart__body" style="display: none; border:none">                    
                    <div class="cart">                        
                        <div class="cart__header cart__header--grid o-flex o-flex--center">
                            <div class="input-box o-flex o-flex--center mb0 w-100">
                                <span class="mr-">Ukupna razlika u vrednosti po LOT-u: </span>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        <!--IMAGES-->
        <div class="cart">
            <div class="cart__header o-flex o-flex--center o-flex--justify mb0 pb-" style="border-bottom: 1px solid #444444;">
                 <h3 class="mb0 h4">GRAFIČKI PRIKAZ PO RAZLICI U CENI</h3>
            </div>
                <div class="cart__body">
                      <img src="~/images/chart.jpg" alt="">
                    </div>
                </div>
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb0 pb-" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb0 h4">GRAFIČKI PRIKAZ PO RUV</h3>
                    </div>
                    <div class="cart__body">
                        <img src="~/images/chart.jpg" alt="">
                    </div>
                </div>
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb0 pb-" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb0 h4">GRAFIČKI PRIKAZ PO TEŽINI</h3>
                    </div>
                    <div class="cart__body">
                        <img src="~/images/chart.jpg" alt="">
                    </div>
                </div>
            </div>
        </article>
        <article class="o-flex o-flex--center o-flex--justify-around">
            <a href="#" class="button button--primary">
                <img src="~/images/_leftleft.png" alt="" class="mr-" width="24">
                <strong>SLEDLJIVOST CENA UNAZAD</strong>
            </a>
            <a href="#" class="button button--primary">
                <img src="~/images/_rightright.png" alt="" class="mr-" width="24">
                <strong>SLEDLJIVOST CENA UNAPRED</strong>
            </a>
            <a href="#" class="button button--primary">
                <img src="~/images/Excel01.png" alt="" class="mr-" width="24">
                <strong>EXCEL</strong>
            </a>
            <a href="#" class="button button--primary">
                <img src="~/images/_sync.png" alt="" class="mr-" width="24">
                <strong>OSVEŽI</strong>
            </a>
        </article>
    </div>
</main>

<script>  // prikazivanje menija za pretragu
    function myFunction() {
        var x = document.getElementById("Pretraga");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    //Sekcije menija ispod kontaktni, lokacije objekata, bankovni računi, organizacione jedinice
    function Organizacionej() {
        var x = document.getElementById("ORGANIZACIONE JEDINICE");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function Lokacijeo() {
        var x = document.getElementById("LOKACIJE OBJEKATA");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

    }

    function Bankovnir() {
        var x = document.getElementById("BANKOVNI RAČUNI");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

    }

    function Kontakti() {
        var x = document.getElementById("KONTAKTI");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

    }</script>                