@page "/SlaughterOutputNormativ"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_Output_NormativModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterOutputManual" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputWorkOrder" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputLibela" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputGroup" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterOutputNormativ" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main>
    <div class="grid-wrapper grid-wrapper-two-rows">
        <div class="grid-wrapper grid-wrapper-two-columns grid-wrapper-single-row" style="grid-template-columns: 45% 1fr;">
            <article class="grid-wrapper grid-wrapper-one-column grid-wrapper-single-row">
                <div class="grid-wrapper grid-wrapper-two-columns grid-wrapper-single-row" style="grid-template-columns: 1fr 1fr;">
                    <div class="grid-wrapper" style="grid-template-rows: 1fr auto;">
                        <div class="cart">
                            <div class="cart__header o-flex o-flex--center o-flex--justify mb--">
                                <h3 class="mb0 h4">LOT: <span class="clr-green font-16">KLS/01802</span></h3>
                                <div class="o-flex o-flex--center">
                                    <a href="#" class="button button--green-circle mr-">
                                        <img src="~/images/_add.png" alt="">
                                    </a>
                                    <a href="#" class="button button--green-circle">
                                        <img src="~/images/_sync.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="cart__body">
                                <div class="table-responsive">
                                    <table class="table mb0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>ŠIFRA</th>
                                                <th>DATUM</th>
                                                <th>KUPAC</th>
                                                <th>NAP.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>KLS/01802</td>
                                                <td>30.09.2022</td>
                                                <td>PTK Panonija a.d.</td>
                                                <td>PTK Panonija</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>KLS/01779</td>
                                                <td>20.09.2022</td>
                                                <td>Doža Đerđ d.o.o.</td>
                                                <td>Doža Đerđ doo</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>KLS/01686</td>
                                                <td>29.07.2022</td>
                                                <td>Bioesen doo FARMA</td>
                                                <td>BIOESEN FARMA</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>KLS/01584</td>
                                                <td>08.06.2022</td>
                                                <td>Bioesen doo FARMA</td>
                                                <td>Bioesen - škart</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="cart">
                            <div class="cart__header">
                                <a href="javascript:;" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">LINIJA PROIZVODNJE:</a>
                            </div>
                        </div>
                    </div>
                    <div class="cart o-flex o-flex--column">
                        <div class="cart__header">
                            <div class="cart__header">
                                <h3 class="mb--">SPECIFIKACIJA</h3>
                            </div>
                        </div>
                        <div class="cart__body h-100">
                            <div class="table-responsive">
                                <table class="table mb0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>NAZIV</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Klanje svinja</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Klanje krmača</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Klanje prasadi</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Klanje bekona</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="cart__footer pt-" style="border-top: 1px solid #d8d7d7;">
                            <button class="button button--third">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-" width="30" viewBox="0 0 448 512">
                                    <path fill="#069c9e" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
                                </svg>
                                NORMATIV
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="grid-wrapper grid-wrapper-single-row">

                <div class="cart o-flex o-flex--column">
                    <div class="cart__header">
                        <h3 class="mb--">ARTIKLI</h3>
                    </div>
                    <div class="cart__body h-100">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="width: 40%;">ARTIKAL</th>
                                        <th>KG</th>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                        <th>KOM</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>4000 (Svinjska polutka) - Ohladjeno</td>
                                        <td style="width: 100px;"><input type="text" value="8049.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                    <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>400183 (Krv) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text" value="924.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                   <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>400219 (SPZP III kategorija) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text" value="924.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                    <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td>4</td>
                                        <td>7500 (Jezik svinjski) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text" value="66.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                    <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>7506 (Mozak svinjski) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text" value="27.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                    <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>7512 (Grkljan svinjski) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text"  value="69.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                    <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                      <tr>
                                        <td>7</td>
                                        <td>7520 (Jetra svinjska) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text" value="542.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                   <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                      <tr>
                                        <td>8</td>
                                        <td>7526 (Pluća svinjska) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text" value="296.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                    <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                      <tr>
                                      <td>9</td>
                                        <td>7530 (Bubrezi svinjski) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text"  value="132.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                   <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>7540 (Srce svinjsko) - Ohlađeno</td>
                                        <td style="width: 100px;"><input type="text"  value="100.00" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">Tople polutke sa klanja</option>
                                                    <option value="">Magacin iznutrica</option>
                                                    <option value="">SPZP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-box mb0 w-100">
                                                <select name="" id="" class="input input--primary input--small">
                                                    <option value="">KOMORA 1</option>
                                                    <option value="">KOMORA 2</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 80px;"><input type="text" class="input input--primary input--small"></td>
                                        <td>
                                            <div class="o-flex o-flex--center">
                                                <svg fill="none" width="30" viewBox="0 0 15 15">
                                                    <path fill="#2ab3b1" clip-rule="evenodd" d="M4.109 14 9.466 1h1.352L5.46 14H4.109Z"  fill-rule="evenodd" />
                                                </svg>
                                                <a href="">
                                                    <svg width="30" viewBox="0 0 48 48">
                                                        <path fill="#414141" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z" />
                                                        <path d="M0 0h48v48H0z" fill="none" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="cart__footer cart__footer--grid o-flex o-flex--center pt-" style="border-top: 1px solid #d8d7d7;">
                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">ŠTAMPA:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>
                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">BR. ETIKETA:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <button class="button button--primary button--small">
                            <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                            <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                </svg>
                            <strong>
                                SAČUVAJ
                            </strong>
                        </button>
                        <button class="button button--secondary button--small">
                            <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                            <path fill="#fff" d="M437.5 386.6 306.9 256l130.6-130.6c14.1-14.1 14.1-36.8 0-50.9-14.1-14.1-36.8-14.1-50.9 0L256 205.1 125.4 74.5c-14.1-14.1-36.8-14.1-50.9 0-14.1 14.1-14.1 36.8 0 50.9L205.1 256 74.5 386.6c-14.1 14.1-14.1 36.8 0 50.9 14.1 14.1 36.8 14.1 50.9 0L256 306.9l130.6 130.6c14.1 14.1 36.8 14.1 50.9 0 14-14.1 14-36.9 0-50.9z" />
                </svg>
                            <strong>
                                PONIŠTI
                            </strong>
                        </button>
                    </div>
                </div>

            </article>
        </div>
        <div class="cart">
            <div class="cart__header" style="border-bottom: 1px solid #444444;">
                <h4 class="mb--">IZMERENI ARTIKLI:</h4>
            </div>
            <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                <a href="#" class="button button--green-circle">
                    <svg width="30" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                    </svg>
                </a>
                <a href="#" class="button button--green-circle">
                    <svg width="34" viewBox="0 0 512 512">
                        <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                    </svg>
                </a>

                <div class="input-box o-flex o-flex--center mb0">
                    <span class="mr-">GRUPNO:</span>
                    <select name="" id="" class="input input--primary">
                        <option value="">Da</option>
                        <option value="">Ne</option>
                    </select>
                </div>

                <a href="#" class="button button--green-circle">
                    <img src="~/images/_delete.png" alt="">
                </a>
                <div class="input-box input-box--search mb0 w-100 relative">
                    <svg width="20" viewBox="0 0 512 512">
                        <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                    </svg>
                    <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                </div>

                <a href="#" class="button button--green-circle">
                    <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                </a>
                <a href="#" class="button button--green-circle">
                    <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                </a>
                <div class="number-wrapper">
                    1 - 5 od 5
                </div>
                <div class="input-box mb0">
                    <select name="" id="" class="input input--primary">
                        <option value="">20</option>
                        <option value="">22</option>
                        <option value="">25</option>
                    </select>
                </div>
                <a href="#" class="button button--green-circle">
                    <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                </a>
                <a href="#" class="button button--green-circle">
                    <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                </a>

                <div class="input-box o-flex o-flex--center mb0">
                    <span class="mr-">TEŽINE:</span>
                    <input type="text" class="input input--primary" value="47167.14" style="min-width: 120px;">
                </div>
            </div>
            <div class="cart__body">
                <div class="table-responsive">
                    <table class="table mb0">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>R.BR.</th>
                                <th>LOT</th>
                                <th>ARTIKAL</th>
                                <th>BARKOD</th>
                                <th>MAGACIN</th>
                                <th>KOMORA</th>
                                <th>KG</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check1" type="checkbox" name="">
                                        <label for="check1">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>586</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214024</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check2" type="checkbox" name="">
                                        <label for="check2">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>585</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214023</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>3</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check3" type="checkbox" name="">
                                        <label for="check3">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>584</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214022</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>4</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check4" type="checkbox" name="">
                                        <label for="check4">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>583</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214021</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>5</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check5" type="checkbox" name="">
                                        <label for="check5">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>582</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214020</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>6</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check6" type="checkbox" name="">
                                        <label for="check6">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>581</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214019</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>7</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check7" type="checkbox" name="">
                                        <label for="check7">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>580</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214018</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>8</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check8" type="checkbox" name="">
                                        <label for="check8">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>579</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214017</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>9</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check9" type="checkbox" name="">
                                        <label for="check9">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>578</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214016</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                             <tr>
                                <td>10</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check10" type="checkbox" name="">
                                        <label for="check10">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>577</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214015</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check11" type="checkbox" name="">
                                        <label for="check11">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>576</td>
                                <td>KLS/1802</td>
                                <td>4000 (Svinjska polutka) - Ohlađeno</td>
                                <td>01860610958600531030804901000180200214014</td>
                                <td>Tople polutke sa klanja</td>
                                <td>KOMORA 1</td>
                                <td>80.49</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>

<!--

<footer class="footer-main">

</footer>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/app.js"></script>

<script>
    $(document).ready(function () {
        /*-------------------------------------------------*/
        /* =  Script
        /*-------------------------------------------------*/
        $('.tree-box a').click(function () {
            $(this).parent().siblings('ul').toggle();
            $(this).toggleClass('is-active')
        });
    });
</script>



