@page "/SlaughterLot"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_LotModel
@{
}


<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterFast" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterLot" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>


<!--POPUP-->
<div id="DodajLotAddEdit" class="popup popup--big">
    <div class="popup__overlay"></div>
    <a id="DodajLotClose" class="close-popup button button--green-circle">
        <img src="~/images/menu-icon-white-png-5.jpg" alt="">
    </a>
    <div class="popup__content">
        <div class="grid-wrapper grid-wrapper-two-row">
            <div class="cart">
                <div class="cart__header">
                    <h2 class="clr-green u-text-center mb0"><strong>OSNOVNI PODACI O LOT-U</strong></h2>
                </div>
                <div class="cart__body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>ŠIFRA :</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box input-box--date relative">
                                <p>DATUM ZA LOT : </p>
                                <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                                <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                                <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                </svg>
                                <input type="date" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>GRUPA PROCESA :</p>
                                <input type="text" class="input input--primary" placeholder="2 (Proizvodnja svinjskog mesa)">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box">
                                <p>PROCES :</p>
                                <input type="text" class="input input--primary" placeholder="10 (Klanje svinja)">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-box">
                                <p>NAPOMENA :</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>                       
        </div>
        <div class="u-text-center">
            <button class="button button--primary button--small mr-">
                <img src="~/images/_submit.png" alt="" width="26" class="mr">
                <strong>
                    PROKNJIŽI
                </strong>
            </button>
        </div>
    </div>
</div>



<main>
    <div class="grid-wrapper grid-wrapper-three-row">
        <div class="cart border-bottom-radius-none">
            <div class="cart__header cart__header--tabs o-flex o-flex--center">
                <ul class="tab-list o-flex o-flex--center mb0">
                    <li><a href="/SlaughterLot" class="is-active">PRIJEM - LOT</a></li>
                    <li><a href="/SlaughterList">PRIJEM - AKTIVNI</a></li>
                    <li><a href="/SlaughterList">PRIJEM - ARHIVA</a></li>
                    <li><a href="/SlaughterList">PRIJEM - STORNIRANI</a></li>
                </ul>
            </div>
        </div>
        <div class="cart cart--accordion">
            <div class="cart__header">
                <a href="#" onclick="myFunction()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark"><img class="mr-" src="/images/arrow-down.png" alt="">PRETRAGA</a>
            </div>

            <!-- When you click on .search-trigger, .cart__body will be display block -->

            <div id="Pretraga" class="cart__body" style="display: none; border:none">
                <form action="" class="o-flex o-flex--center">
                    <div class="row w-100">
                        <div class="col-xs-12 col-md-12">
                            <div class="input-box">
                                <p>ŠIFRA:</p>
                                <input type="text" class="input input--primary">
                            </div>
                        </div>                      
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box input-box--date relative">
                                <p>DATUM OD :</p>
                                <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                                <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                                <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                        </svg>
                                <input type="date" class="input input--primary">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-box input-box--date relative">
                                <p>DATUM DO :</p>
                                <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                                <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                                <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                        </svg>
                                <input type="date" class="input input--primary">
                            </div>
                        </div>
                    </div>
                    <button class="button button--green-circle ml mr">
                        <svg width="30" viewBox="0 0 512 512">
                            <path fill="#fff" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                    </button>
                </form>
            </div>
            </div>
            <div class="cart">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb--">ARTIKAL:</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center o-flex--justify  pb--">
                  <div class="cart__header cart__header--grid o-flex o-flex--center o-flex--start pt-- pb--">
                    <a id="DodajLotAdd" href="#" class="button button--green-circle">
                        <img src="/images/_add.png" alt="">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <svg width="30" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                        </svg>
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="/images/_sync.png" alt="">
                    </a>
                    </div>
                        <div class="o-flex o-flex--center cart__header--grid o-flex o-flex--center o-flex--right">
                         <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper">
                        1 - 1 od 1
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>
                   </div>
                </div>
                                  
                <div class="cart__body">
                    <div class="table-responsive">
                    <table class="table mb0">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>ŠIFRA</th>
                                <th>DATUM</th>
                                <th>GRUPA PROCESA</th>
                                <th>PROCES</th>
                                <th>NAPOMENA</th>
                                <th>PROCESIRAN</th>
                                <th>ZAVRŠEN</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check1" type="checkbox" name="">
                                        <label for="check1">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>KLS/1802</td>
                                <td>30.09.2022</td>
                                <td>Proizvodnja svnijskog mesa</td>
                                <td>Klanje svinja</td>
                                <td class="active-column">PTK Panonija</td>
                                <td class="red">Ne</td>
                                <td class="red">Ne</td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check2" type="checkbox" name="">
                                        <label for="check2">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>KLS/1802</td>
                                <td>28.09.2022</td>
                                <td>Proizvodnja svnijskog mesa</td>
                                <td>Klanje svinja</td>
                                <td>Biosen-prasad</td>
                                <td class="active">Da</td>
                                <td class="red">Ne</td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check3" type="checkbox" name="">
                                        <label for="check3">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>KLS/1802</td>
                                <td>20.09.2022</td>
                                <td>Proizvodnja svnijskog mesa</td>
                                <td>Klanje svinja</td>
                                <td>Doža Đerđ doo</td>
                                <td class="red">Ne</td>
                                <td class="red">Ne</td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check4" type="checkbox" name="">
                                        <label for="check4">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>KLS/1802</td>
                                <td>29.07.2022</td>
                                <td>Proizvodnja svnijskog mesa</td>
                                <td>Klanje svinja</td>
                                <td>BIOESEN FARMA</td>
                                <td class="red">Ne</td>
                                <td class="red">Ne</td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td style="width: 30px;">
                                    <div class="check-box">
                                        <input id="check5" type="checkbox" name="">
                                        <label for="check5">
                                            <span class="check-icon"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>KLS/1802</td>
                                <td>08.06.2022</td>
                                <td>Proizvodnja svnijskog mesa</td>
                                <td>Klanje svinja</td>
                                <td>Bioesen -škart</td>
                                <td class="active">Da</td>
                                <td class="red">Ne</td>
                                <td style="width: 50px;">
                                    <div class="o-flex o-flex--center">
                                        <a href="#" class=" mr-">
                                            <svg height="18" width="18" viewBox="0 0 18 18">
                                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="25" viewBox="0 0 48 48">
                                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                                <path d="M0 0h48v48H0z" fill="none"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>              
</main>


@section Scripts {
    <script>
        // prikazivanje menija za pretragu
        function myFunction() {
            var x = document.getElementById("Pretraga");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        $(document).ready(function () {
            $("#DodajLotAdd").click(function () {
                $("#DodajLotAddEdit").addClass("is-active");
            });

            $("#DodajLotClose").click(function () {
                $("#DodajLotAddEdit").removeClass("is-active");
            });
        });
    </script>
}


