@page "/SlaughterCalculation"
@model KlanicaPraksa.Pages.Slaughters.Slaughter_CalculationModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/SlaughterCalculation" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterCalculation">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/SlaughterCalculation">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>


SLAUGHTER CALCULATION