@page "/FinalProductMeasuring"
@model KlanicaPraksa.Pages.FinalProducts.FinalProduct_MeasuringModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/FinalProductMeasuring" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductMeasuring" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

Final product measuring