@page "/FinalProductInput"
@model KlanicaPraksa.Pages.FinalProducts.FinalProduct_InputModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/FinalProductInput" class="is-active">
                <img src="~/images/__MesoWhite.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductInput" class="is-active">
                <img src="~/images/ham-leg.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductInput" class="is-active">
                <img src="~/images/icons_now/__spice.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductInput" class="is-active">
                <img src="~/images/icons_now/__package2.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductInput" class="is-active">
                <img src="~/images/___cheese.png" alt="">
            </a>
        </li>
    </ul>
</aside>



<main>

    <div class="grid-wrapper grid-wrapper-two-columns grid-wrapper-single-row">
        <div class="grid-wrapper grid-wrapper-three-row" style="grid-template-rows: 0.5fr 0.5fr 1fr;">
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                    <h4 class="mb0">1. PODACI O PRERADI</h4>
                    <div class="o-flex o-flex--center">
                        <a id="DodajLotAdd" class="button button--green-circle mr-">
                            <img src="~/images/_add.png" alt="">
                        </a>                        
                    </div>
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>DATUM</th>
                                    <th>RECEPTURA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>PRE/00001</td>
                                    <td>13.11.2022</td>
                                    <td>Parma ham</td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--STAVKE RECEPTURE-->
            <div class="cart o-flex o-flex--column">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-">
                    <h4 class="mb0 pb-- pt--">3. STAVKE RECEPTURE</h4>                   
                </div>
                <div class="cart__body h-100">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>NAZIV STAVKE</th>
                                    <th>KOLIČINA</th>
                                    <th>TOLERANCIJA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>PRIG/01371</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>                                                           
                            </tbody>
                        </table>
                    </div>                                                  
                </div>
                <div class="cart__footer pt-" style="border-top: 1px solid #d8d7d7;">
                    <div class="u-text-center">
                        <button class="button button--primary button--small mw-100">
                            <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                            </svg>
                            <strong>
                                SAČUVAJ
                            </strong>
                        </button>
                    </div>
                </div>
            </div>
            <!--ARTIKLI-->
            <div class="cart">
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb0 pb-- pt--">4. ARTIKLI</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="PRETRAGA . . .">
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper w-100 o-flex--justify-center">
                        1 - 99 od 99
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>
                </div> 
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ARTIKAL</th>
                                    <th>KOM</th>
                                    <th>KG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Tovljenici</td>
                                    <td>1</td>
                                    <td>100.00</td>
                                </tr>                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-wrapper grid-wrapper-three-row" style="grid-template-rows: auto 1fr 1fr;">
            <!--PRETRAGA PO MAGACINIMA-->
            <div class="cart cart--accordion">
                <div class="cart__header pb-" style="border-bottom: 1px solid #444444;">
                    <a href="#" onclick="myFunctionPretragaPoMagacinima()" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="~/images/arrow-down.png" alt="">2. PRETRAGA PO MAGACINIMA</a>
                </div>
            </div>
            <!--ARTIKLI NA LAGERU-->
            <div class="cart o-flex o-flex--column">                                
                <div class="cart__header o-flex o-flex--center o-flex--justify pb-" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb0 pb-- pt--">5. ARTIKLI NA LAGERU</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <a href="#" class="button button--green-circle">
                        <svg width="34" viewBox="0 0 512 512">
                            <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                        </svg>
                    </a>                       
                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">TEŽINA :</span>
                        <input type="text" class="input input--primary u-text-right" value="0.00" style="min-width: 120px;">
                    </div>
                    <a href="#" class="button button--green-circle">
                        <svg width="30" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                        </svg>
                    </a>
                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">RAZLIKA :</span>
                        <input type="text" class="input input--primary u-text-right" value="0.00" style="min-width: 120px;">
                    </div>
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper">
                        0 - 0 od 0
                    </div>
                    <div class="input-box mb0">
                        <select name="" id="" class="input input--primary">
                            <option value="">200</option>
                            <option value="">220</option>
                            <option value="">250</option>
                        </select>
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a> 
                </div>
                <div class="cart__body h-100">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>LOT</th>
                                    <th>NAZIV ARTIKLA</th>
                                    <th>MAGACIN</th>
                                    <th>KG</th>
                                    <th>NE POVEZANO</th>
                                    <th>UZETA TEŽINA</th>
                                    <th>UZETO SVE?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>PRIG/01371</td>
                                    <td>SPZP</td>
                                    <td>100.00</td>
                                    <td>0</td>
                                    <td>100.00</td>
                                    <td>Da</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cart__footer cart__footer--grid o-flex o-flex--center o-flex--justify-center pt--" style="border-top: 1px solid #d8d7d7;">
                    <div class="input-box o-flex o-flex--center mb0 w-100">
                        <span class="ml- mr-">DATUM UNOSA :</span>
                        <div class="input-box input-box--date relative mb0">                        
                            <svg width="28" viewBox="0 0 139 139" xml:space="preserve">
                            <path fill="444444" d="M113.8 22.905h-13.514v-5.406c0-3.215-2.631-5.845-5.846-5.845s-5.844 2.63-5.844 5.845v5.406h-38.19v-5.406c0-3.215-2.63-5.845-5.845-5.845s-5.845 2.63-5.845 5.845v5.406H25.202c-5.533 0-10.035 4.501-10.035 10.034v74.122c0 5.533 4.501 10.034 10.035 10.034h79.632c10.478 0 19-8.522 19-19V32.939c0-5.533-4.501-10.034-10.034-10.034zm-88.598 8h13.521c.077 3.149 2.671 5.702 5.838 5.702 3.166 0 5.759-2.553 5.837-5.702h38.205c.078 3.149 2.67 5.702 5.837 5.702s5.761-2.553 5.839-5.702H113.8c1.104 0 2.034.932 2.034 2.034v15.624H23.167V32.939c0-1.103.932-2.034 2.035-2.034zm-2.035 76.156V56.438h92.667V91.5H99.487l-.12 17.595H25.202c-1.103 0-2.035-.932-2.035-2.034zm84.203 1.727.064-9.288h8.299c-.585 4.558-3.963 8.244-8.363 9.288z" />
                            <path fill="444444" d="M46.491 75.32c.04-3.665 1.347-6.345 3.445-8.132 2.099-1.743 4.951-2.592 8.039-2.592 7.999 0 10.652 5.363 10.652 7.998 0 6.524-3.644 6.524-3.644 6.658v.089c0 .358 4.514.358 4.514 7.284 0 3.798-2.534 9.785-11.563 9.785-12.396 0-12.434-9.831-12.236-12.153h7.523c-.04 1.654.317 2.903 1.069 3.708.752 1.027 1.901 1.386 3.287 1.386 2.257 0 3.683-.938 3.683-3.485 0-2.727-1.861-3.218-3.683-3.218-1.149 0-1.703.135-2.297.225v-6.078c.594.045 1.228.179 2.297.179 1.664 0 3.762-.401 3.762-2.813 0-1.967-1.98-2.727-3.603-2.727-2.139 0-3.881 1.295-3.802 3.887h-7.443zM81.264 78.135h-6.455v-6.434c3.999.09 7.96-1.607 8.196-6.747H89.5v31.099h-8.236V78.135z" />
                                </svg>                          
                            <input type="date" class="input input--primary" style="min-width: 250px;">
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <button class="button button--primary mw-100">
                            <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                                <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                            </svg>
                            <strong>
                                SAČUVAJ
                            </strong>
                        </button>
                    </div>
                </div>           
            </div>
            <!--DODATE STAVKE-->
            <div class="cart">
                <div class="cart__header pb-" style="border-bottom: 1px solid #444444;">
                    <a href="#" class="search-trigger o-flex o-flex--center text-decoration-none clr-dark h4 pt-- pb--">DODATE STAVKE</a>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
                    </a>
                    <div class="number-wrapper">
                        0 - 0 od 0
                    </div>
                    <div class="input-box mb0">
                        <select name="" id="" class="input input--primary">
                            <option value="">20</option>
                            <option value="">22</option>
                            <option value="">25</option>
                        </select>
                    </div>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
                    </a>
                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>

                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">TEŽINE:</span>
                        <input type="text" class="input input--primary u-text-right" value="0.00" style="min-width: 120px;">
                    </div>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pb--">
                    <a href="#" class="button button--green-circle">
                        <svg width="30" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                        </svg>
                    </a>
                    <a href="#" class="button button--green-circle">
                        <svg width="34" viewBox="0 0 512 512">
                            <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                        </svg>
                    </a>

                    <div class="input-box o-flex o-flex--center mb0 w-100">
                        <span class="mr-">GRUPNO:</span>
                        <select name="" id="" class="input input--primary">
                            <option value="">Da</option>
                            <option value="">Ne</option>
                        </select>
                    </div>

                    <a href="#" class="button button--green-circle">
                        <img src="~/images/_delete.png" alt="">
                    </a>
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th></th>
                                    <th>MAGACIN</th>
                                    <th>KOMORA</th>
                                    <th>STAVKE RECEPTURE</th>
                                    <th>KOLIČINA</th>
                                    <th>KG</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>PRIG/01371</td>
                                    <td>13.11.2022.</td>
                                    <td>SPZP</td>
                                    <td>KOMORA 1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>100.00</td>
                                    <td></td>
                                </tr>                              
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>           
        </div>
    </div>
</main>

<!--

<footer class="footer-main">

</footer>
-->

@section Scripts {
    <script>
        // prikazivanje menija za pretragu
        function myFunctionPretragaPoMagacinima() {
            var x = document.getElementById("PretragaPoMagacinima");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}