@page "/FinalProductMeasuring"
@model KlanicaPraksa.Pages.FinalProducts.FinalProduct_MeasuringModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/FinalProductMeasuring" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductMeasuring" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main class="w-100">

    <div class="grid-wrapper grid-wrapper-two-columns" style="grid-template-columns: 0.9fr 1fr;">
        <div class="grid-wrapper-two-row">
            <div class="grid-wrapper grid-wrapper-single-row">
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify pb--" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb0 h4">MAGACIN IZ:</h3>

                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">

                        <div class="o-flex o-flex--center">
                            <a href="#" class="button button--green-circle mr-">
                                <img src="/images/_add.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th style="width:30px;"></th>
                                        <th style="width:50px;">SIFRA</th>
                                        <th>KOMORA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>20</td>
                                        <td>komora za soljenje</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>komora za soljenje</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>20</td>
                                        <td>komora za soljenje</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>20</td>
                                        <td>komora za soljenje</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>20</td>
                                        <td>komora za soljenje</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper grid-wrapper-single-row">
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify pb--" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb0 h4">STAVKA LAGERA:</h3>

                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">

                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="Pretraga. . .">
                        </div>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th style="width:50px;">LOT</th>
                                        <th>NAZIV ARTIKLA</th>
                                        <th style="width:50px;">FAZA</th>
                                        <th style="width:100px;">TRAJANJE</th>
                                        <th style="width:30px;">KG</th>
                                        <th style="width:50px;">KOM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CLS/112</td>
                                        <td>Polutka</td>
                                        <td>1.12.2022</td>
                                        <td>3.1.2023</td>
                                        <td>1</td>
                                        <td>14</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-wrapper grid-wrapper-four-row">
            <div class="cart border-top-radius-none border-bottom-radius-none">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb--">TEZINA PO JEDNOJ STAVKI</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt--">
                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">Broj izmerenih stavki:</span>
                        <input type="text" class="input input--primary">
                    </div>
                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">Ukupna tezina:</span>
                        <input type="text" class="input input--primary">
                    </div>
                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">Jedinicna tezina:</span>
                        <input type="text" class="input input--primary">
                    </div>
                </div>

            </div>
            <div class="grid-wrapper grid-wrapper-two-columns" style="grid-template-columns: 1fr 1fr;">
                <div class="cart border-top-radius-none border-bottom-radius-none">
                    <div class="cart__header">
                        <h4 class="mb--">FAZA PROIZVODNJE:</h4>
                    </div>

                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th>FAZA PROIZVODNJE</th>
                                        <th style="width:70px;">DANA</th>
                                        <th style="width:60px;">R.BR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr> 
                                        <td>Prerada</td>
                                        <td>14</td>
                                        <td>65</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cart border-top-radius-none border-bottom-radius-none">
                    <div class="cart__header">
                        <h4 class="mb--">MAGACIN:</h4>
                    </div>

                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th>MAGACIN</th>
                                        <th>KOMORA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1 magacin</td>
                                        <td>6 komora</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart border-top-radius-none border-bottom-radius-none">
                <div class="cart__header cart__header--grid o-flex o-flex--center pt--">
                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">Datum:</span>
                        <input type="date" class="input input--primary">
                    </div>
                    <div class="input-box o-flex o-flex--center mb0">
                        <span class="mr-">Kolicina:</span>
                        <input type="text" class="input input--primary">
                    </div>
                    <button class="button button--primary">
                        <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                        <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z"></path>
                </svg>
                        <strong>
                            SAČUVAJ
                        </strong>
                    </button>

                </div>
            </div>
            <div class="cart border-top-radius-none">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb--">UZETE STAVKE</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--right pt-- pb--">
                    
                        <a href="#" class="button button--green-circle" id="right">
                            <img src="/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper" style="float:right">
                            1 - 1 od 1
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle" style="float: right;">
                            <img src="/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>
           
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th style="width:60px;">LOT</th>
                                    <th style="width:90px;">DATUM</th>
                                    <th>FAZA IZ</th>
                                    <th>FAZA U</th>
                                    <th style="width:70px;">MAGACIN</th>
                                    <th style="width:90px;">KOMORA IZ</th>
                                    <th style="width:90px;">KOMORA U</th>
                                    <th style="width:40px;">KG</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CLS/112</td>
                                    <td>12.11.2022</td>
                                    <td>1.12.2022</td>
                                    <td>3.1.2023</td>
                                    <td>1</td>
                                    <td>komora 1</td>
                                    <td>komora 2</td>
                                    <td>14</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
