@page "/FinalProductExit"
@model KlanicaPraksa.Pages.FinalProducts.FinalProduct_ExitModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/FinalProductExit" class="is-active">
                <img src="~/images/icons_now/__exitPig.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<main class="w-100">

        <div class="grid-wrapper grid-wrapper-two-columns" style="grid-template-columns: 0.4fr 1fr;">
            <div class="grid-wrapper-single-row">
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify pb--" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb0 h4">IZLAZNI LOT:</h3>

                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">Datum:</span>
                            <input type="date" class="input input--primary">
                        </div>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center o-flex--justify pb-- pt--" style="border-top: 1px solid #444444;">
                        <div class="cart__header cart__header--grid o-flex o-flex--start">
                            <a class="button button--green-circle">
                                <img src="/images/_add.png" alt="">
                            </a>
 
                        </div>

                        <div class="cart__header cart__header--grid o-flex o-flex--right">
                            <a href="#" class="button button--green-circle">
                                <img src="/images/_sync.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th style="width:50px;">SIFRA</th>
                                        <th>NAPOMENA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                       <td>1</td>
                                       <td>lot cls/123</td>
                                   </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper grid-wrapper-two-row">
                <div class="cart border-top-radius-none border-bottom-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb--">STAVKE PRERADE</h4>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box mb0 w-100">
                            <input type="text" class="input input--primary" placeholder="RFID...">
                        </div>

                    </div>

                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th style="width:40px;">LOT</th>
                                        <th>ARTIKAL</th>
                                        <th style="width:130px;">POCETAK</th>
                                        <th style="width:130px;">ZRENJE</th>
                                        <th style="width:50px;">KOM</th>
                                        <th style="width:50px;">KG</th>
                                        <th style="width:50px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CLS/112</td>
                                        <td>Polutka</td>
                                        <td>1.12.2022</td>
                                        <td>3.1.2023</td>
                                        <td>1</td>
                                        <td>14</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cart border-top-radius-none">
                    <div class="cart__header">
                        <h4 class="mb--">UZETE STAVKE</h4>
                    </div>
                  
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th style="width:60px;">LOT</th>
                                        <th style="width:90px;">LOT EXIT</th>
                                        <th>ARTIKAL</th>
                                        <th style="width:110px;">DATUM</th>
                                        <th style="width:70px;">KOM</th>
                                        <th style="width:70px;">KG</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CLS/112</td>
                                        <td>3.1.2023</td>
                                        <td>Polutka</td>
                                        <td>1.12.2022</td>
                                        <td>1</td>
                                        <td>14</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    
</main>