@page "/FinalProductExpedition"
@model KlanicaPraksa.Pages.FinalProducts.FinalProduct_ExpeditionModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/FinalProductExpedition" class="is-active">
                <img src="~/images/__MesoWhite.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductExpedition" class="is-active">
                <img src="~/images/ham-leg.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductExpedition" class="is-active">
                <img src="~/images/Icons_now/__spice.png" alt="">
            </a>
        </li>
        <li>
            <a href="/FinalProductExpedition" class="is-active">
                <img src="~/images/Icons_now/__package2.png" alt="">
            </a>
        </li>
    </ul>
</aside>
<main>
    <div class="grid-wrapper grid-wrapper-single-row">
        <article class="grid-wrapper grid-wrapper-single-row grid-wrapper-two-columns" style="grid-template-columns: 1fr 1fr;">         
            <div class="grid-wrapper grid-wrapper-four-row" style="grid-template-rows: 1fr 1fr 1fr 0.5fr;">
            <!--ARTIKAL-->
            <div class="cart border-bottom-radius-none">
                <div class="cart__header" style="border-bottom: 1px solid #444444;">
                    <h4 class="mb--">ARTIKAL:</h4>
                </div>
                <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                    <div class="input-box input-box--search mb0 w-100 relative">
                        <svg width="20" viewBox="0 0 512 512">
                            <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                        </svg>
                        <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                    </div>                  
                </div>
                <div class="cart__body">
                    <div class="table-responsive">
                        <table class="table mb0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ŠIFRA</th>
                                    <th>DATUM</th>
                                    <th>RECEPTURA</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>PRE/00001</td>
                                    <td>13.11.2022</td>
                                    <td>Parma ham</td>
                                </tr>                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--IZLAZNI ARTIKAL-->            
                <div class="cart border-bottom-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb--">IZLAZNI ARTIKAL:</h4>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            1 - 5 od 5
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ARTIKAL</th>
                                        <th>KOM</th>
                                        <th>KG</th>
                                    </tr>
                                </thead>  
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>PRE/00002</td>
                                        <td>20</td>
                                        <td>89</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--IZLAZNI ARTIKAL - DETALJNO -->
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb--" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb0 h4">IZLAZNI ARTIKAL - DETALJNO:</h3>    
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>       
                                        <th></th>
                                        <th>NAZIV STAVKE</th>                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>PRE/00003</td>                                 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--MAGACIN-->
                <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify mb--" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb0 h4">MAGACIN:</h3>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ŠIFRA</th>
                                        <th>MAGACIN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>PRE/00020</td>
                                        <td>50</td>                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--LINIJA PROIZVODNJE-->
                 <div class="cart">
                    <div class="cart__header o-flex o-flex--center o-flex--justify">
                        <a href="javascript:;" class="accordion-trigger o-flex o-flex--center text-decoration-none clr-dark h4"><img class="mr-" src="/images/arrow-down.png" alt="">LINIJA PROIZVODNJE: <span class="clr-green font-16 ml-">Linija suvog soljenja</span></a>
                    </div>
                </div>
            </div>      
            <!--UNOS ODVAGA-->
            <div class="grid-wrapper grid-wrapper-two-row">
                <div class="cart border-bottom-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h3 class="mb--">UNOS ODVAGA</h3>
                    </div>
                    <div class="cart__body pt">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box">
                                    <p>ŠTAMPA:</p>
                                    <select name="" id="" class="input input--primary">
                                        <option value=""></option>
                                        <option value="">Da</option>
                                        <option value="">Ne</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box">
                                    <p>BROJ ETIKETA:</p>
                                    <select name="" id="" class="input input--primary">
                                        <option value=""></option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box o-flex  h-100">
                                    <span class="u-inline-block u-text-center mr-" style="margin-top: 25px;"><strong>TEŽINA:</strong></span>
                                    <input type="text" class="input input--primary input--big">

                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <button class="button button--primary mw-100 button--big">
                                    <svg width="44" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
                                    <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
                                </svg>
                                    <strong>
                                        SAČUVAJ
                                    </strong>
                                </button>
                            </div>                            
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box">
                                    <p>KOLIČINA:</p>
                                    <input type="text" class="input input--primary">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="input-box">
                                    <p>TARA:</p>
                                    <input type="text" class="input input--primary">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="input-box">
                                    <p>NAPOMENA:</p>
                                    <input type="text" class="input input--primary">
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!--IZMERENI ARTIKLI-->
                <div class="cart border-top-radius-none">
                    <div class="cart__header" style="border-bottom: 1px solid #444444;">
                        <h4 class="mb--">IZMERENI ARTIKLI</h4>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--" style="border-bottom: 1px solid #444444;">
                        <div class="input-box input-box--search mb0 w-100 relative">
                            <svg width="20" viewBox="0 0 512 512">
                                <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
                            </svg>
                            <input type="text" class="input input--secondary" placeholder="PRETRAGA. . .">
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_leftleft.png" alt="" style="margin-right: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_left.png" alt="" style="margin-right: 3px;">
                        </a>
                        <div class="number-wrapper">
                            0 - 0 od 0
                        </div>
                        <div class="input-box mb0">
                            <select name="" id="" class="input input--primary">
                                <option value="">20</option>
                                <option value="">22</option>
                                <option value="">25</option>
                            </select>
                        </div>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_right.png" alt="" style="margin-left: 3px;">
                        </a>
                        <a href="#" class="button button--green-circle">
                            <img src="/images/_rightright.png" alt="" style="margin-left: 3px;">
                        </a>

                        <div class="input-box o-flex o-flex--center mb0">
                            <span class="mr-">TEŽINE:</span>
                            <input type="text" class="input input--primary" value=".00" style="min-width: 120px;">
                        </div>
                    </div>
                    <div class="cart__header cart__header--grid o-flex o-flex--center pt-- pb--">
                        <a href="#" class="button button--green-circle">
                            <svg width="30" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="#fff" d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11 5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z" />
                            </svg>
                        </a>
                        <a href="#" class="button button--green-circle">
                            <svg width="34" viewBox="0 0 512 512">
                                <path fill="#fff" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48Zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256Z" />
                            </svg>
                        </a>

                        <div class="input-box o-flex o-flex--center mb0 w-100">
                            <span class="mr-">GRUPNO:</span>
                            <select name="" id="" class="input input--primary">
                                <option value="">Da</option>
                                <option value="">Ne</option>
                            </select>
                        </div>

                        <a href="#" class="button button--green-circle">
                            <img src="/images/_delete.png" alt="">
                        </a>
                    </div>
                    <div class="cart__body">
                        <div class="table-responsive">
                            <table class="table mb0">
                                <thead>
                                    <tr>
                                        <th></th>                                        
                                        <th>ARTIKAL</th>
                                        <th>MAGACIN</th>
                                        <th>KG</th>                                                                                                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Klanica</td>
                                        <td>PRE/00090</td>
                                        <td class="u-text-right">90</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </article>
  </div>
</main>

 <script>

    // prikazivanje menija za radne depo
    function myFunction() {
        var x = document.getElementById("Depo");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }


</script>