@page "/CountryList"
@model KlanicaPraksa.Pages.Locations.CountryListModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/CountryList" class="is-active">
                <img src="~/images/__locationWhite.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RegionList">
                <img src="~/images/__locationWhite.png" alt="">
            </a>
        </li>
        <li>
            <a href="/MunicipalityList">
                <img src="~/images/__locationWhite.png" alt="">
            </a>
        </li>
        <li>
            <a href="/CityList">
                <img src="~/images/__locationWhite.png" alt="">
            </a>
        </li>
    </ul>
</aside>


<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Homepage</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/app.css">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body class="homepage">

  <header class="header-main">
    <div class="header-main__nav-left o-flex o-flex--center">
      <a class="bars mr" href="javascript:;">
        <svg width="22" viewBox="0 0 512 512">
          <g data-name="1">
            <path fill="#fff" d="M441.13 166.52h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 279.72h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 392.92h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30Z" />
          </g>
        </svg>
      </a>
      <p class="mb0 clr-white">LOKACIJE</p>
    </div>
    <a href="javascript:;" class="refresh">
      <svg height="24" width="24">
        <path fill="#fff" d="M17.807 7C16.447 5.079 14.394 4 12 4a8 8 0 0 0-8 8H2C2 6.477 6.477 2 12 2c2.804 0 5.275 1.183 7 3.27V2h2v7h-7V7h3.807ZM6.193 17c1.36 1.921 3.413 3 5.807 3a8 8 0 0 0 8-8h2c0 5.523-4.477 10-10 10-2.804 0-5.275-1.183-7-3.27V22H3v-7h7v2H6.193Z" fill-rule="evenodd" />
      </svg>
    </a>
        <nav class="header-main__nav">
            <ul class="nav__list o-flex o-flex--center">
                <li class="nav__list-item">
                    <a href="/MainMenuInputNote" class="nav__link is-active">
                        <img src="~/images/nav/__input.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuSlaughter" class="nav__link ">
                        <img src="~/images/nav/__slaughter.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuQuartering" class="nav__link">
                        <img src="~/images/nav/__quarteringWhite1.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuRefinement" class="nav__link">
                        <img src="~/images/nav/__refinement.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuFinalProduct" class="nav__link">
                        <img src="~/images/nav/__finalProduct.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuDeepFreeze" class="nav__link">
                        <img src="~/images/nav/__freeze.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuExpedition" class="nav__link">
                        <img src="~/images/nav/__expedition1.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuWorkOrders" class="nav__link">
                        <img src="~/images/nav/__specifications.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href=" /MainMenuFinancial" class="nav__link">
                        <img src="~/images/nav/__euro.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuBasic" class="nav__link">
                        <img src="~/images/nav/__edit1.png" alt="">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="/MainMenuAdmin" class="nav__link">
                        <img src="~/images/nav/__admin.png" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- TO SHOW SOME POPUP YOU NEED TO ADD CLASS '.is-active' TO .popup AND IT WILL SHOW. -->

    <div id="UnitOfMeasurementAddEdit"  class="popup">
        <div class="popup__overlay"></div>
        <a id="UnitOfMeasurementClose" class="close-popup button button--green-circle">
            <img src="~/images/menu-icon-white-png-5.jpg" alt="">
        </a>
    <div class="popup__content">

      <div class="cart">
        <div class="cart__header">
          <h2 class="clr-green u-text-center mb0"><strong>OSNOVNI PODACI O DRŽAVAMA</strong></h2>
        </div>
        <div class="cart__body">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="input-box">
                <p>ŠIFRA (AUTOMATSKI) :</p>
                <input type="text" class="input input--primary">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="input-box">
                <p>OZNAKA DRŽAVE :</p>
                <input type="text" class="input input--primary">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="input-box">
                <p>NAZIV DRŽAVE :</p>
                <input type="text" class="input input--primary">
              </div>
            </div>

           </div>
        </div>
      </div>
    
 
      
      

      <div class="u-text-center">
        <button class="button button--primary">
          <svg width="30" viewBox="0 0 512 512" xml:space="preserve" class="mr-">
            <path fill="#fff" d="M448 71.9c-17.3-13.4-41.5-9.3-54.1 9.1L214 344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8-15.6 15.5-16.4 41.6-1.7 58.1 0 0 120.4 133.6 137.7 147 17.3 13.4 41.5 9.3 54.1-9.1l206.3-301.7c12.6-18.5 8.7-44.2-8.6-57.5z" />
          </svg>
          <strong>
            SAČUVAJ
          </strong>
        </button>
      </div>
    </div>
  </div>


    <main class="w-100">

        <div class="grid-wrapper">
        


     
      <div class="cart">
        <div class="cart__header cart__header--grid o-flex o-flex--center">
          <a id="UnitOfMeasurementAdd" class="button button--green-circle">
            <img src="~/images/_add.png" alt="">
          </a>
          <a href="#" class="button button--green-circle">
                        <img src="~/images/_sync.png" alt="">
                    </a>

          <div class="input-box input-box--search mb0 w-100 relative">
            <svg width="20" viewBox="0 0 512 512">
              <path fill="#7d7d7d" d="M464 428 339.92 303.9a160.48 160.48 0 0 0 30.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0 0 94.58-30.72L428 464ZM209.32 319.69a110.38 110.38 0 1 1 110.37-110.37 110.5 110.5 0 0 1-110.37 110.37Z" />
            </svg>
            <input type="text" class="input input--secondary" placeholder="PRETRAGA . . .">
          </div>

          <a href="#" class="button button--green-circle">
            <img src="~/images/_leftleft.png" alt="" style="margin-right: 3px;">
          </a>
          <a href="#" class="button button--green-circle">
            <img src="~/images/_left.png" alt="" style="margin-right: 3px;">
          </a>
          <div class="number-wrapper">
            1 - 1 od 1
          </div>
          <a href="#" class="button button--green-circle">
            <img src="~/images/_right.png" alt="" style="margin-left: 3px;">
          </a>
          <a href="#" class="button button--green-circle">
                        <img src="~/images/_rightright.png" alt="" style="margin-left: 3px;">
                    </a>
        </div>
        <div class="cart__body mt-">
          <div class="table-responsive" style="max-height: 77vh;">
            <table class="table mb0">
              <thead>
                <tr>
                  <th style="width:50px"></th>
                  <th style="width:150px">OZNAKA DRŽAVE</th>
                  <th>IME DRŽAVE</th>
                  <th></th>
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>RS</td>
                  <td>Srbija</td>
                  <td style="width: 50px;">
                    <div class="o-flex o-flex--center">
                          <a href="#" class=" mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                        </svg>
                      </a>

                      <a href="#">
                        <svg width="25" viewBox="0 0 48 48">
                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                          <path d="M0 0h48v48H0z" fill="none"></path>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>BIH</td>
                    <td>Bosna i Hercegovina</td>
                    <td style="width: 50px;">
                        <div class="o-flex o-flex--center">
                            <a href="#" class=" mr-">
                            <svg height="18" width="18" viewBox="0 0 18 18">
                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                            </svg>
                            </a>

                            <a href="#">
                            <svg width="25" viewBox="0 0 48 48">
                                 <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                 <path d="M0 0h48v48H0z" fill="none"></path>
                            </svg>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>HRV</td>
                    <td>Hrvatska</td>
                    <td style="width: 50px;">
                        <div class="o-flex o-flex--center">
                            <a href="#" class=" mr-">
                            <svg height="18" width="18" viewBox="0 0 18 18">
                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                            </svg>
                            </a>

                            <a href="#">
                            <svg width="25" viewBox="0 0 48 48">
                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                <path d="M0 0h48v48H0z" fill="none"></path>
                            </svg>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>SVN</td>
                  <td>Slovenija</td>
                  <td style="width: 50px;">
                    <div class="o-flex o-flex--center">
                          <a href="#" class=" mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                        </svg>
                      </a>

                      <a href="#">
                        <svg width="25" viewBox="0 0 48 48">
                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                          <path d="M0 0h48v48H0z" fill="none"></path>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>MNE</td>
                  <td>Crna Gora</td>
                  <td style="width: 50px;">
                    <div class="o-flex o-flex--center">
                          <a href="#" class=" mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                        </svg>
                      </a>

                      <a href="#">
                        <svg width="25" viewBox="0 0 48 48">
                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                          <path d="M0 0h48v48H0z" fill="none"></path>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>MKD</td>
                  <td>Makedonija</td>
                  <td style="width: 50px;">
                    <div class="o-flex o-flex--center">
                          <a href="#" class=" mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                        </svg>
                      </a>

                      <a href="#">
                        <svg width="25" viewBox="0 0 48 48">
                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                          <path d="M0 0h48v48H0z" fill="none"></path>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>AUT</td>
                  <td>Austrija</td>
                  <td style="width: 50px;">
                    <div class="o-flex o-flex--center">
                          <a href="#" class=" mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                        </svg>
                      </a>

                      <a href="#">
                        <svg width="25" viewBox="0 0 48 48">
                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                          <path d="M0 0h48v48H0z" fill="none"></path>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>ITA</td>
                  <td>Italy</td>
                  <td style="width: 50px;">
                    <div class="o-flex o-flex--center">
                          <a href="#" class=" mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                        </svg>
                      </a>

                      <a href="#">
                        <svg width="25" viewBox="0 0 48 48">
                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                          <path d="M0 0h48v48H0z" fill="none"></path>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>ROU</td>
                  <td>Rumunija</td>
                  <td style="width: 50px;">
                    <div class="o-flex o-flex--center">
                          <a href="#" class=" mr-">
                          <svg height="18" width="18" viewBox="0 0 18 18">
                            <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                        </svg>
                      </a>

                      <a href="#">
                        <svg width="25" viewBox="0 0 48 48">
                          <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                          <path d="M0 0h48v48H0z" fill="none"></path>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>TUR</td>
                    <td>Turska</td>
                    <td style="width: 50px;">
                        <div class="o-flex o-flex--center">
                            <a href="#" class=" mr-">
                            <svg height="18" width="18" viewBox="0 0 18 18">
                                <path d="M0 14.2V18h3.8l11-11.1L11 3.1 0 14.2ZM17.7 4c.4-.4.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L16 5.9 17.7 4Z" fill="#069c9e" fill-rule="evenodd" />
                            </svg>
                            </a>

                            <a href="#">
                            <svg width="25" viewBox="0 0 48 48">
                                <path fill="#444" d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                                <path d="M0 0h48v48H0z" fill="none"></path>
                            </svg>
                            </a>
                        </div>
                    </td>
                </tr>
                

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- 

<footer class="footer-main">

</footer>
-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>

  <!-- <script>
		$(document).ready(function(){
			/*-------------------------------------------------*/	
			/* =  Script
			/*-------------------------------------------------*/

		});
	</script> -->


    @section Scripts {
    <script>
        $(document).ready(function () {
            $("#UnitOfMeasurementAdd").click(function () {
                $("#UnitOfMeasurementAddEdit").addClass("is-active");
            });

            $("#UnitOfMeasurementClose").click(function () {
                $("#UnitOfMeasurementAddEdit").removeClass("is-active");
            });
        });
    </script>
}

</body>




</html>