@page "/RegionList"
@model KlanicaPraksa.Pages.Locations.RegionListModel
@{
}

<aside class="aside-menu cart" style="display: flex;">
    <ul class="aside-menu__list">
        <li>
            <a href="/CountryList" class="is-active">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/RegionList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/MunicipalityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
        <li>
            <a href="/CityList">
                <img src="~/images/__enter.png" alt="">
            </a>
        </li>
    </ul>
</aside>

<p>Region</p>