@page "/MainMenuFinancial"
@model KlanicaPraksa.Pages.MainMenu.MaimMenuFinanicialModel
@{
}
<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__inputInvoiceUnPayed_White2.png" alt="">
                    <span>
                        POTRAŽNJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___inputInvoiceProduct_White3.png" alt="">
                    <span>
                        ULAZNI RAČ.
                        <br />ROBA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterRefinementPig.png" alt="">
                    <span>
                        ULAZNI RAČ.
                        <br />USLUGE
                     </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__enterExitRefinement.png" alt="">
                    <span>
                        DUGOVANJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__refinementCow.png" alt="">
                    <span>
                        IZLAZNI RAĆ.
                        <br />ROBA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__enterRefinementCow.png" alt="">
                    <span>
                        IZLAZNI RAČ
                        <br />USLUGE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>PREDRAČUN</span>g
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___subsequentEnterRefinementCow.png" alt="">
                    <span>
                        KNJIŽNO
                        <br />ODOBRENJE
                    </span>
                </a>
            </li>
            
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__accountStatement1.png" alt="">
                    <span>
                        IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___lambRefinement.png" alt="">
                    <span>
                        POVEZANI
                        <br />IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterquartering.png" alt="">
                    <span>
                        NEPOVEZANI
                        <br />IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>
                        RUČNI UNOS
                        <br />UPLATA
                    </span>
                </a>
            </li>
        </ul>
        <!--Treba izmeniti slike i tekst i boju narednih thumbnailova-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__accountStatement1.png" alt="">
                    <span>
                        IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___lambRefinement.png" alt="">
                    <span>
                        POVEZANI
                        <br />IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterquartering.png" alt="">
                    <span>
                        NEPOVEZANI
                        <br />IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>
                        RUČNI UNOS
                        <br />UPLATA
                    </span>
                </a>
            </li>
        </ul>
        
        <ul>  
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewLamb.png" alt="">
                    <span>
                        KATEGORIJE
                        <br />UPLATE
                    </span>
                </a>
            </li>
            
        </ul>
     
    </div>
</main>
