@page "/MainMenuFinancial"
@model KlanicaPraksa.Pages.MainMenu.MaimMenuFinanicialModel
@{
}
<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__inputInvoiceUnPayed_White2.png" alt="">
                    <span>
                        POTRAŽNJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___inputInvoiceProduct_White3.png" alt="">
                    <span>
                        ULAZNI RAČ.
                        <br />ROBA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___inputInvoiceFavor_White3.png" alt="">
                    <span>
                        ULAZNI RAČ.
                        <br />USLUGE
                     </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__outputInvoiceUnPayed_White2.png" alt="">
                    <span>
                        DUGOVANJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___outputInvoice_White2.png" alt="">
                    <span>
                        IZLAZNI RAĆ.
                        <br />ROBA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___outputInvoiceFavor_White.png" alt="">
                    <span>
                        IZLAZNI RAČ
                        <br />USLUGE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___proInvoice.png" alt="">
                    <span>PREDRAČUN</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___creditNote.png" alt="">
                    <span>
                        KNJIŽNO
                        <br />ODOBRENJE
                    </span>
                </a>
            </li>
            
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__accountStatement1.png" alt="">
                    <span>
                        IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__accountStatementConnected_White2.png" alt="">
                    <span>
                        POVEZANI
                        <br />IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__accountStatementUnConnected_White2.png" alt="">
                    <span>
                        NEPOVEZANI
                        <br />IZVODI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___manualPaymentEntry.png" alt="">
                    <span>
                        RUČNI UNOS
                        <br />UPLATA
                    </span>
                </a>
            </li>
        </ul>
        
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___priceList.png" alt="">
                    <span>
                        CENOVNIK
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___priceListByProduct.png" alt="">
                    <span>
                        CENOVNIK 
                        <br />PO ARTIKLIMA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__cardBusinessPartner.png" alt="">
                    <span>
                        KARTICA
                        
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__initialState_White.png" alt="">
                    <span>
                         POČETO
                        <br />STANJE
                    </span>
                </a>
            </li>
        </ul>
        
        <ul>  
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___priceList.png" alt="">
                    <span>
                        KATEGORIJE 
                        <br />UPLATE
                    </span>
                </a>
            </li>
            
        </ul>
     
    </div>
</main>
