@page
@model KlanicaPraksa.Pages.MainMenu.MainMenuWorkOrdersModel
@{
}
@page "/MainMenuInputNote"
@model KlanicaPraksa.Pages.MainMenu.MainMenuInputNoteModel
@{
    ViewData["Title"] = "Home page";
}
<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        BRZO KLANJE
                        SVINJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KLANJE SVINJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>BRZO KLANJE GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KLANJE GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>BRZO KLANJE JAGANJACA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KLANJE JAGANJACA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        BRZO KLANJE
                        SVINJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KLANJE SVINJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        BRZO KLANJE
                        SVINJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KLANJE SVINJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center mb0">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        BRZO KLANJE
                        SVINJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KLANJE SVINJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
    </div>
</main>
