@page "/MainMenuDeepFreeze"
@model KlanicaPraksa.Pages.MainMenu.MainMenuDeepFreezeModel
@{
    ViewData["Title"] = "Home page";
}


<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__freeze.png" alt="">
                    <span>
                        ZAMRZAVANJE
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__palettPlus.png" alt="">
                    <span>
                        PALETA
                        <br />
                        KREIRANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___palettBoxPlus.png" alt="">
                    <span>
                        PALETA
                        <br />
                        DODAVANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___palettBoxMinus.png" alt="">
                    <span>
                        PALETA
                        <br />
                        SKIDANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatDeFroze.png.png" alt="">
                    <span>
                        MESO
                        <br />
                        ODRŽAVANJE
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__palletMinus.png" alt="">
                    <span>
                        PALETA
                        <br />
                        UKLANJANJE
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stockFrezee.png" alt="">
                    <span>
                        MINUSNA
                        <br />
                        LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___cardDeepFreeze.png" alt="">
                    <span>
                        MINUSNA
                        <br />
                        KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___freezeList.png" alt="">
                    <span>
                        MINUSNA
                        <br />
                        POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__freezeWriteOff.png" alt="">
                    <span>
                        MINUSNA
                        <br />
                        OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___palettTransfer.png" alt="">
                    <span>
                        PALETA
                        <br />
                        PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___freezeValue.png" alt="">
                    <span>
                        MINUSNA
                        <br />
                        VREDNOST
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__traceability3.png" alt="">
                    <span>
                        SLEDLJIVOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__stockItem.png" alt="">
                    <span>
                        MESO
                        <br />
                        LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__cardMeat.png" alt="">
                    <span>
                        MESO
                        <br />
                        KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatList.png" alt="">
                    <span>
                        MESO
                        <br />
                        POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatwriteoff.png" alt="">
                    <span>
                        MESO
                        <br />
                        OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatTransfer.png" alt="">
                    <span>
                        MESO
                        <br />
                        PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__meatValue2.png" alt="">
                    <span>
                        MESO
                        <br />
                        VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__report1.png" alt="">
                    <span>
                        IZVEŠTAJI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__calculation1.png" alt="">
                    <span>
                        ZAMRZAVANJE
                        <br />
                        KALKULACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__photo.png" alt="">
                    <span>
                        FOTO
                        <br />
                        MODUL
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___visibilityItem.png" alt="">
                    <span>
                        ARTIKLI
                        <br />
                        VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stock.png" alt="">
                    <span>
                        MAGACINI
                        <br />
                        VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__chamber1.png" alt="">
                    <span>
                        KOMORA
                        <br />
                        SPISAK
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__labelSlaughter.png" alt="">
                    <span>
                        ETIKETA
                    </span>
                </a>
            </li>
        </ul>
        
    </div>
</main>
