@page "/MainMenuInputNote"
@model KlanicaPraksa.Pages.MainMenu.MainMenuInputNoteModel
@{
    ViewData["Title"] = "Home page";
}




<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <!--GRLA RED-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__input.png" alt="">
                    <span>
                        GRLA<br />PRIJEM
                    </span>
                </a>
            </li>
            <li>
                <a href="/StockItemActive" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="/StockItemByProduct" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__stockAnimal.png" alt="">
                    <span>GRLA<br />LAGER</span>
                </a>
            </li>
            <li>
                <a href="/StockItemCardByProduct" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__cardAnimal1.png" alt="">
                    <span>GRLA<br />KARTICA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___animalList1.png" alt="">
                    <span>GRLA<br />POPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___animalWriteOff.png" alt="">
                    <span>GRLA<br />OTPIS</span>
                </a>
            </li>
            <li>
                <a href="/StockItemValue" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___animalValue.png" alt="">
                    <span>GRLA<br />VREDNOST</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___marketPrice1.png" alt="">
                    <span>TRŽIŠNA<br />CENA</span>
                </a>
            </li>

        </ul>
        <!--MESO RED-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="/InputNoteFast" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__slaughter.png" alt="">
                    <span>MESO<br />PRIJEM</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__stockMeat.png" alt="">
                    <span>MESO<br />LAGER</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__cardMeat.png" alt="">
                    <span>MESO<br />KARTICA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="/InventoryFast" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___meatList.png" alt="">
                    <span>MESO<br />POPIS</span>
                </a>
            </li>
            <li>
                <a href="/WriteOffFast" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___meatwriteoff.png" alt="">
                    <span>MESO<br />OTPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___meatTransfer.png" alt="">
                    <span>MESO<br />PRENOS</span>
                </a>
            </li>            
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__meatValue2.png" alt="">
                    <span>MESO<br />VREDNOST</span>
                </a>
            </li>
        </ul>
        <!--AMBALAŽA RED-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__package2.png" alt="">
                    <span>AMBALAŽA<br />PRIJEM</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__stockPackage.png" alt="">
                    <span>AMBALAŽA<br />LAGER</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__packageCard2.png" alt="">
                    <span>AMBALAŽA<br />KARTICA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___packageList.png" alt="">
                    <span>AMBALAŽA<br />POPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___packageWriteOff.png" alt="">
                    <span>AMBALAŽA<br />OTPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__packageValue4.png" alt="">
                    <span>AMBALAŽA<br />VREDNOST</span>
                </a>
            </li>
        </ul>
        <!--ZAČIN RED-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__spice.png" alt="">
                    <span>
                       ZAČINI<br />PRIJEM
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__stockItemSpice1.png" alt="">
                    <span>ZAČINI<br />LAGER</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__spiceCard2.png" alt="">
                    <span>ZAČINI<br />KARTICA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___spiceList.png" alt="">
                    <span>ZAČINI<br />POPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___spiceWriteOff.png" alt="">
                    <span>ZAČINI<br />OTPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__spiceValue2.png" alt="">
                    <span>ZAČINI<br />VREDNOST</span>
                </a>
            </li>
        </ul>
        <!--TRG RED-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___cheese.png" alt="">
                    <span>
                       TRG.ROBA<br />PRIJEM
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___stockMerchandise.png" alt="">
                    <span>TRG.ROBA<br />LAGER</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___cardMerchandise.png" alt="">
                    <span>TRG.ROBA<br />KARTICA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___merchandiseList.png" alt="">
                    <span>TRG.ROBA<br />POPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___merchandiseWriteOff.png" alt="">
                    <span>TRG.ROBA<br />OTPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___merchandiseValue.png" alt="">
                    <span>TRG.ROBA<br />VREDNOST</span>
                </a>
            </li>
        </ul>
        <!--OSTALO RED-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__other3.png" alt="">
                    <span>
                        OSTALO<br />PRIJEM
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__stockOther4.png" alt="">
                    <span>OSTALO<br />LAGER</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__cardOther1.png" alt="">
                    <span>OSTALO<br />KARTICA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___otherList.png" alt="">
                    <span>OSTALO<br />POPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___otherWriteOff.png" alt="">
                    <span>OSTALO<br />OTPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__otherExspedition1.png" alt="">
                    <span>OSTALO<br />OTPREMA</span>
                </a>
            </li>
        </ul>
        <!--PRIJEM I FOTO-->
        <ul class="o-flex o-flex--center mb0">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__report1.png" alt="">
                    <span>
                       PRIJEM<br />IZVEŠTAJ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__photo.png" alt="">
                    <span>FOTO<br />MODUL</span>
                </a>
            </li>          
        </ul>
    </div>
</main>
