@page "/MainMenuSlaughter"
@model KlanicaPraksa.Pages.MainMenu.MainMenuSlaughterModel
@{
    ViewData["Title"] = "Home page";
}



<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <!-- Pig_Column -->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__input_output_pig.png" alt="">
                    <span>
                       SVINJA <br /> BRZO KLANJE
                    </span>
                </a>
            </li>            
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__slaughterPig.png" alt="">
                    <span>
                        SVINJA  <br /> KLANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__enterPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__exitPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
           
        </ul>
        <!-- Cow_Column -->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__input_output_cow.png" alt="">
                    <span>GRLA <br /> BRZO KLANJE</span>
                </a>
            </li>               
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__slaughterCow.png" alt="">
                    <span>GRLA  <br /> KLANJE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__enterCow.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__exitCow.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>            
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__reviewCow.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <!-- Lamb_Column -->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__input_output_sheep.png" alt="">
                    <span>JAGANJACA <br /> BRZO KLANJE</span>
                </a>
            </li>            
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__slaughterLamb.png" alt="">
                    <span>JAGANJACA  <br /> KLANJE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__enterLamb.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__exitLamb.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>            
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewLamb.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <!--Meso lager-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__stockMeat.png" alt="">
                    <span>
                        MESO  <br /> LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__cardMeat.png" alt="">
                    <span>MESO  <br /> KARTICA</span>
                </a>
            </li>
            <li style="margin-left:4.2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___meatList.png" alt="">
                    <span>MESO  <br /> POPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___meatwriteoff.png" alt="">
                    <span>MESO  <br /> OTPIS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___meatTransfer.png" alt="">
                    <span>MESO  <br /> PRENOS</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__meatValue2.png" alt="">
                    <span>MESO  <br /> VREDNOST</span>
                </a>
            </li>
        </ul>
        <!--Meso izveštaj-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__report1.png" alt="">
                    <span>
                        IZVEŠTAJ
                    </span>
                </a>
            </li>
            <li>
                <a href="/SlaughterCalculation" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__calculation1.png" alt="">
                    <span>KLANJE  <br /> KALKULACIJA</span>
                </a>
            </li>
            <li>
                <a href="/Photo" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__photo.png" alt="">
                    <span>FOTO  <br /> MODUL</span>
                </a>
            </li> 
            <li style="margin-left:4.4rem">
                <a href="/SpecificationSlaughter" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__specifications1.png" alt="">
                    <span>KLANJE  <br /> SPECIFIKACIJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___visibilityItem.png" alt="">
                    <span>ARTIKLI  <br /> VIDLJIVOST</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__stock.png" alt="">
                    <span>MAGACINI  <br /> VIDLJIVOST</span>
                </a>
            </li>               
            <li style="margin-left:2rem">
                <a href="/LabelPrint" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/__labelSlaughter.png" alt="">
                    <span>ETIKETA</span>
                </a>
            </li>
        </ul>
    </div>
</main>


