@page "/MainMenuWorkOrders"
@model KlanicaPraksa.Pages.MainMenu.MainMenuWorkOrdersModel
@{
    ViewData["Title"] = "Home page";
}
<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <!--PRIJEM-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderPrijemGrla.png" alt="">
                    <span>
                        R.N. PRIJEMA <br /> GRLA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderPrijemMesa.png" alt="">
                    <span>R.N PRIJEMA <br /> MESA</span>
                </a>
            </li>
        </ul>
        <!--KL. ULAZ I IZLAZI-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazKlSvinja.png" alt="">
                    <span>R.N. - ULAZ <br /> KL. SVINJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazKlSvinja.png" alt="">
                    <span>R.N. - IZLAZ <br /> KL. SVINJA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazKlGoveda.png" alt="">
                    <span>R.N. - ULAZ <br /> KL. GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazKlGoveda.png" alt="">
                    <span>R.N. - IZLAZ <br /> KL. GOVEDA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazKlJaganjaca.png" alt="">
                    <span>R.N. - ULAZ <br /> KL. JAGANJACA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazKlJaganjaca.png" alt="">
                    <span>R.N. - IZLAZ <br /> KL. JAGANJACA</span>
                </a>
            </li>
        </ul>
        <!--ČET. GOVEDA-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderUlazCetGoveda.png" alt="">
                    <span>R.N. - ULAZ <br /> ČET. GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderIzlazCetGoveda.png" alt="">
                    <span>R.N. - IZLAZ <br /> ČET. GOVEDA</span>
                </a>
            </li>       
        </ul>
        <!--RAS. ULAZ I IZLAZ-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazRasSvinja.png" alt="">
                    <span>
                        R.N. - ULAZ <br /> RAS. SVINJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazRasSvinja.png" alt="">
                    <span>R.N. - IZLAZ <br /> RAS. SVINJA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazRasGoveda.png" alt="">
                    <span>R.N. - ULAZ <br /> RAS. GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazRasSvinja.png" alt="">
                    <span>R.N. - ULAZ <br /> RAS. GOVEDA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazRasJaganjaca.png" alt="">
                    <span>R.N. - ULAZ <br /> RAS. JAG.</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazRasSvinja.png" alt="">
                    <span>R.N. - IZLAZ <br /> RAS. JAG.</span>
                </a>
            </li>
        </ul>
        <!--RN. MINUSNA-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderMinusnaNovaPaleta.png" alt="">
                    <span>
                        R.N. - MINUSNA <br /> NOVA PALETA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderMinusnaDodavanje1.png" alt="">
                    <span>R.N. - MINUSNA <br /> DODAVANJE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderMinusnaSkidanje1.png" alt="">
                    <span>R.N. - MINUSNA <br /> SKIDANJE</span>
                </a>
            </li>      
        </ul>
        <!--EKSPEDICIJA-->
        <ul class="o-flex o-flex--center mb0">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__expedition1.png" alt="">
                    <span>
                        EKSPEDICIJA
                    </span>
                </a>
            </li>            
        </ul>
    </div>
</main>
