@page "/MainMenuExpedition"
@model KlanicaPraksa.Pages.MainMenu.MainMenuExpeditionModel
@{
    ViewData["Title"] = "Home page";
}
<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        TREBOVANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED
                   <br/>TREBOVANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>TOVARNI
                      <br/>LIST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KAMIONI
                  <br/>SA LOKACIJAMA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>KAMIONI
                    <br/>ISTORIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>POTPUNA
                   <br/>SLEDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        Pramen
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>BRZA
                   <br/>EKSPECIDIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>DETALJNO
                    <br/>EKSPEDICIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED
                    <br/>EKSPEDICIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>FAKTURE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>FAKTURE
                     <br/>PREGLED
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MALOPRODAJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MALOPRODAJA
                       <br/>PREGLED
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        MALOPRODAJA
                     <br/>POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PRODAJA IZ
                     <br/>MALOPRODAJA
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        MESO
                   <br/>LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MESO
                    <br/>KARTICA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MESO
                     <br/>POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MESO
                     <br/>OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MESO
                    <br/>PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MESO
                   <br/>VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>
                        IZVEŠTAJI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>EKSPEDICIJA
                     <br/>KALKULACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>FOTO
                     <br/>MODUL
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ARTIKLI
                    <br/>VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>MAGACINI
                    <br/>VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>ETIKETA</span>
                </a>
            </li>
        </ul>

</main>
