@page "/MainMenuQuartering"
@model KlanicaPraksa.Pages.MainMenu.MainMenuQuarteringModel
@{
    ViewData["Title"] = "Home page";
}


<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="/images/__enterExitQuartering1.png" alt="">
                    <span>
                        GRLA
                        <br/>
                        ČETVRTANJE
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatQuarteringFast.png" alt="">
                    <span>
                        GRLA
                        <br/>
                        ČETVRTANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterquartering.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__exitQuartering.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stockQuartering.png" alt="">
                    <span>
                        MESO
                        <br />
                        LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__cardQuartering.png" alt="">
                    <span>
                        MESO
                        <br />
                        KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:4.4rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatQuarteringList.png" alt="">
                    <span>
                        MESO
                        <br />
                        POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatQuarteringWriteOff.png" alt="">
                    <span>
                        MESO
                        <br />
                        OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatQuarteringTransfer.png" alt="">
                    <span>
                        MESO
                        <br />
                        PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__meatQuarteringValue.png" alt="">
                    <span>
                        MESO
                        <br />
                        VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__report1.png" alt="">
                    <span>IZVEŠTAJ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__calculation1.png" alt="">
                    <span>
                        ČETVRTANJE
                        KALKULACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__photo.png" alt="">
                    <span>
                        FOTO
                        MODUL
                    </span>
                </a>
            </li>
            <li style="margin-left:4.4rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__specificationsQuatering.png" alt="">
                    <span>
                        ČETVRTANJE
                        SPECIFIKACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___visibilityItem.png" alt="">
                    <span>
                        ARTIKLI
                        VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__stock.png" alt="">
                    <span>
                        MAGACINI
                        VIDLJIVOSTI
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__labelQuatering.png" alt="">
                    <span>ETIKETA</span>
                </a>
            </li>
        </ul>
    </div>
</main>
