@page "/MainMenuBasic"
@model KlanicaPraksa.Pages.MainMenu.MainMenuBasicModel
@{
    ViewData["Title"] = "Home page";
}
<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__MesoWhite.png" alt="">
                    <span>
                        ARTIKLI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__group4.png" alt="">
                    <span>KATEGORIJE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___visibilityItem.png" alt="">
                    <span>
                        ARTIKLI
                        <br />
                        VIDLJIVOSTI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__favor.png" alt="">
                    <span>USLUGE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__favor.png" alt="">
                    <span>
                        JEDINICE MERE
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stock.png" alt="">
                    <span>MAGACINI</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stockAnimal.png" alt="">
                    <span>DEPOI</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___warehouseVisibility.png" alt="">
                    <span>
                        MAGACINI
                        <br />
                        VIDLJIVOSTI
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__businessPartner1.png" alt="">
                    <span>
                        POSLOVNI
                        <br />
                        PARTNERI
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__bank.png" alt="">
                    <span>BANKE</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__KomercijalistaWhite.png" alt="">
                    <span>KOMERCIJALISTA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__driver1.png" alt="">
                    <span>VOZAČI</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__locationWhite.png" alt="">
                    <span>LOKACIJE</span>
                </a>
            </li>
        </ul>
    </div>
</main>
