@page "/MainMenuRefinement"
@model KlanicaPraksa.Pages.MainMenu.MainMenuRefinementModel

<header class="header-main">
    <div class="header-main__nav-left o-flex o-flex--center">
        <a class="bars mr" href="javascript:;">
            <svg width="22" viewBox="0 0 512 512">
                <g data-name="1">
                    <path fill="#fff" d="M441.13 166.52h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 279.72h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 392.92h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30Z" />
                </g>
            </svg>
        </a>
        <p class="mb0 clr-white">RASECANJE</p>
    </div>
    <a href="javascript:;" class="refresh">
        <svg height="24" width="24">
            <path fill="#fff" d="M17.807 7C16.447 5.079 14.394 4 12 4a8 8 0 0 0-8 8H2C2 6.477 6.477 2 12 2c2.804 0 5.275 1.183 7 3.27V2h2v7h-7V7h3.807ZM6.193 17c1.36 1.921 3.413 3 5.807 3a8 8 0 0 0 8-8h2c0 5.523-4.477 10-10 10-2.804 0-5.275-1.183-7-3.27V22H3v-7h7v2H6.193Z" fill-rule="evenodd" />
        </svg>
    </a>
    <nav class="header-main__nav">
        <ul class="nav__list o-flex o-flex--center">
            <li class="nav__list-item">
                <a href="/MainMenuInputNote" class="nav__link">
                    <img src="~/images/nav/__input.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuSlaughter" class="nav__link ">
                    <img src="~/images/nav/__slaughter.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuQuartering" class="nav__link">
                    <img src="~/images/nav/__quarteringWhite1.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuRefinement" class="nav__link is-active">
                    <img src="~/images/nav/__refinement.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuFinalProduct" class="nav__link">
                    <img src="~/images/nav/__finalProduct.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuDeepFreeze" class="nav__link">
                    <img src="~/images/nav/__freeze.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuExpedition" class="nav__link">
                    <img src="~/images/nav/__expedition1.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuWorkOrders" class="nav__link">
                    <img src="~/images/nav/__specifications.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href=" /MainMenuFinancial" class="nav__link">
                    <img src="~/images/nav/__euro.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuBasic" class="nav__link">
                    <img src="~/images/nav/__edit1.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuAdmin" class="nav__link">
                    <img src="~/images/nav/__admin.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>

<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterExitRefinementPig.png" alt="">
                    <span>
                          SVINJA
                    <br/>RASECANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__refinementPig.png" alt="">
                    <span>
                          SVINJA
                         <br />RASECANJE 
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterRefinementPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentEnterRefinementPig.png" alt="">
                    <span>
                          NAKNADNO
                        <br />ULAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentExitRefinement.png" alt="">
                    <span>
                          NAKNADNO
                      <br />IZLAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatTransfer.png" alt="">
                    <span>
                          POLUTKE 
                     <br />PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewRefinementPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__enterExitRefinement.png" alt="">
                    <span>
                             GRLA
                     <br />RASECANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__refinementCow.png" alt="">
                    <span>
                                GRLA
                        <br />RASECANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__enterRefinementCow.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>IZLAZ</span>g
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___subsequentEnterRefinementCow.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />ULAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___subsequentExitRefinement.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />IZLAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatTransferCow.png" alt="">
                    <span>
                            POLUTKE 
                        <br />PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewRefinementCow.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterExitRefinement.png" alt="">
                    <span>
                        JAGANJACA
                        <br />RASECANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___lambRefinement.png" alt="">
                    <span>
                        JAGANJACA
                        <br />RASECANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterquartering.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentEnterRefinementPig.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />ULAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentEnterRefinementPig.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />IZLAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatTransfer.png" alt="">
                    <span>
                            POLUTKE 
                        <br />PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewLamb.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stockRefinementMeat.png" alt="">
                    <span>
                        MESO 
                        <br />LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__cardRefinementMeat.png" alt="">
                    <span>
                        MESO
                        <br />KARTICA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatRefinementList.png" alt="">
                    <span>
                        MESO
                        <br />POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatRefinementWriteOff.png" alt="">
                    <span>
                        MESO
                        <br />OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatRefinementWriteOff.png" alt="">
                    <span>
                        MESO
                        <br />PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__meatRefinementValue.png" alt="">
                    <span>
                        MESO
                        <br />VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__report1.png" alt="">
                    <span>IZVEŠTAJ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__calculation1.png" alt="">
                    <span>
                        RASECANJE
                        <br />KALKULACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__photo.png" alt="">
                    <span>
                        FOTO
                        <br />MODUL
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__specificationsRefinement.png" alt="">
                    <span>
                        RESECANJE
                        <br />SPECIFIKACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___visibilityItem.png" alt="">
                    <span>
                        ARTIKLI
                        <br />VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__stock.png" alt="">
                    <span>
                        MAGACIN
                        <br />VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__labelRefinement.png" alt="">
                    <span>ETIKETA</span>
                </a>
            </li>
      
    </div>
</main>
