@page "/MainMenuFinalProduct"
@model KlanicaPraksa.Pages.MainMenu.MainMenuFinalProductModel
@{
    ViewData["Title"] = "Home page";
}


<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__finalProduct.png" alt="">
                    <span>
                        PRERADA
                 <br/> KREIRANJE
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="/FinalProductInput" class="menu-link menu-link--green">
                    <img src="~/images/___finalProductEnter.png" alt="">
                    <span>PRERADA
                      <br/>ULAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="/FinalProductInitial" class="menu-link menu-link--green">
                    <img src="~/images/___finalProductCreate.png" alt="">
                    <span>PRERADA
                     <br/>POČETAK
                    </span>
                </a>
            </li>
            <li>
                <a href="/FinalProductMeasuring" class="menu-link menu-link--green">
                    <img src="~/images/___measurementTransmission3.png" alt="">
                    <span>MERENJE
                     <br/>I PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="/FinalProductExit" class="menu-link menu-link--green">
                    <img src="~/images/___finalProductExit.png" alt="">
                    <span>PRERADA
                      <br/>IZLAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="/FinalProductExpedition" class="menu-link menu-link--green">
                    <img src="~/images/___finalProductExit1.png" alt="">
                    <span>PRERADA
                      <br/>EKSPEDICIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___finalProductArchive.png" alt="">
                    <span>
                        PREGLED
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>
                        AKTIVNI
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stockItemFinalProduct.png" alt="">
                    <span>PRERADA
                      <br/>LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__finalProductCard1.png" alt="">
                    <span>PRERADA
                     <br/>KATRICA
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___finalProductList.png" alt="">
                    <span>PRERADA
                      <br/>POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___finalProductWriteOff.png" alt="">
                    <span>PRERADA
                      <br/>OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___finalProductTransfer.png" alt="">
                    <span>PRERADA
                      <br/>PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___finalProductValue.png" alt="">
                    <span>PRERADA
                     <br/>VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__stockItem.png" alt="">
                    <span>
                        MESO
                   <br/>LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__cardMeat.png" alt="">
                    <span>MESO
                    <br/>KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatList.png" alt="">
                    <span>MESO
                     <br/>POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatwriteoff.png" alt="">
                    <span>MESO
                     <br/>OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatTransfer.png" alt="">
                    <span>MESO
                    <br/>PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatValue.png" alt="">
                    <span>MESO
                   <br/>VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stockPackage.png" alt="">
                    <span>
                        AMBALAŽA
                    <br/>LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__packageCard1.png" alt="">
                    <span>
                        AMBALAŽA
                   <br/>KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___packageList.png" alt="">
                    <span>
                        AMBALAŽA
                    <br/>POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___packageWriteOff.png" alt="">
                    <span>
                        AMBALAŽA
                     <br/>OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__packageValue3.png" alt="">
                    <span>
                        AMBALAŽA
                   <br/>VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__stockSpice.png" alt="">
                     <span>
                        ZAČINI
                   <br/>LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__spiceCard2.png" alt="">
                    <span>
                        ZAČINI
                   <br/>KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___spiceList.png" alt="">
                    <span>
                        ZAČINI
                   <br/>POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___spiceWriteOff.png" alt="">
                    <span>
                        ZAČINI
                   <br/>OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__spiceValue2.png" alt="">
                    <span>
                        ZAČINI
                  <br/>VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center ">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___stockMerchandise.png" alt="">
                    <span>
                        TRG.ROBA
                    <br/>LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___cardMerchandise.png" alt="">
                    <span>
                        TRG.ROBA
                    <br/>KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___merchandiseList.png" alt="">
                    <span>
                        TRG.ROBA
                     <br/>POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___merchandiseWriteOff.png" alt="">
                    <span>
                        TRG.ROBA
                    <br/>OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___merchandiseValue.png" alt="">
                    <span>
                        TRG.ROBA
                   <br/>VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__report1.png" alt="">
                    <span>IZVEŠTAJI</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__calculation1.png" alt="">
                    <span>PRERADA
                   <br\>KALKULACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__photo.png" alt="">
                    <span>FOTO
                     <br/>MODUL
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__recipes2.png" alt="">
                    <span>RECEPTURE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___visibilityItem.png" alt="">
                    <span>ARTIKLI
                    <br/>VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stock.png" alt="">
                    <span>MAGACINI
                    <br/>VIDLJIVOST
                    </span>
                </a>
            </li>
            <li style="margin-left:20px">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__labelSlaughter.png" alt="">
                    <span>ETIKETA</span>
                </a>
            </li>
        </ul>
    </div>
</main>
