@page "/MainMenuRefinement"
@model KlanicaPraksa.Pages.MainMenu.MainMenuRefinementModel



<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <!--SVINJA RASECANJE-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterExitRefinementPig.png" alt="">
                    <span>
                          SVINJA
                    <br/>RASECANJE
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__refinementPig.png" alt="">
                    <span>
                          SVINJA
                         <br />RASECANJE 
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterRefinementPig.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentEnterRefinementPig.png" alt="">
                    <span>
                          NAKNADNO
                        <br />ULAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentExitRefinement.png" alt="">
                    <span>
                          NAKNADNO
                      <br />IZLAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatTransfer.png" alt="">
                    <span>
                          POLUTKE 
                     <br />PRENOS
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewRefinementPig.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <!--GRLA RASECANJE-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__enterExitRefinement.png" alt="">
                    <span>
                             GRLA
                     <br />RASECANJE
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__refinementCow.png" alt="">
                    <span>
                                GRLA
                        <br />RASECANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__enterRefinementCow.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>IZLAZ</span>g
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___subsequentEnterRefinementCow.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />ULAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___subsequentExitRefinement.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />IZLAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatTransferCow.png" alt="">
                    <span>
                            POLUTKE 
                        <br />PRENOS
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewRefinementCow.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <!--JAGANJACA RASECANJE-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterExitRefinement.png" alt="">
                    <span>
                        JAGANJACA
                        <br />RASECANJE
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___lambRefinement.png" alt="">
                    <span>
                        JAGANJACA
                        <br />RASECANJE
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__enterquartering.png" alt="">
                    <span>ULAZ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__exitRefinement.png" alt="">
                    <span>IZLAZ</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentEnterRefinementPig.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />ULAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___subsequentEnterRefinementPig.png" alt="">
                    <span>
                            NAKNADNO 
                        <br />IZLAZ
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___meatTransfer.png" alt="">
                    <span>
                            POLUTKE 
                        <br />PRENOS
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewLamb.png" alt="">
                    <span>PREGLED</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__reviewActive.png" alt="">
                    <span>AKTIVNI</span>
                </a>
            </li>
        </ul>
        <!--MESO LAGER-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__stockRefinementMeat.png" alt="">
                    <span>
                        MESO 
                        <br />LAGER
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__cardRefinementMeat.png" alt="">
                    <span>
                        MESO
                        <br />KARTICA
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatRefinementList.png" alt="">
                    <span>
                        MESO
                        <br />POPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatRefinementWriteOff.png" alt="">
                    <span>
                        MESO
                        <br />OTPIS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/___meatRefinementWriteOff.png" alt="">
                    <span>
                        MESO
                        <br />PRENOS
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/__meatRefinementValue.png" alt="">
                    <span>
                        MESO
                        <br />VREDNOST
                    </span>
                </a>
            </li>
        </ul>
        <!--IZVEŠTAJ-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__report1.png" alt="">
                    <span>IZVEŠTAJ</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__calculation1.png" alt="">
                    <span>
                        RASECANJE
                        <br />KALKULACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__photo.png" alt="">
                    <span>
                        FOTO
                        <br />MODUL
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__specificationsRefinement.png" alt="">
                    <span>
                        RASECANJE
                        <br />SPECIFIKACIJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/___visibilityItem.png" alt="">
                    <span>
                        ARTIKLI
                        <br />VIDLJIVOST
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__stock.png" alt="">
                    <span>
                        MAGACINI
                        <br />VIDLJIVOST
                    </span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/__labelRefinement.png" alt="">
                    <span>ETIKETA</span>
                </a>
            </li>
         </ul>
    </div>
</main>
