@page "/MainMenuWorkOrders"
@model KlanicaPraksa.Pages.MainMenu.MainMenuWorkOrdersModel
@{
    ViewData["Title"] = "Home page";
}
<header class="header-main">
    <div class="header-main__nav-left o-flex o-flex--center">
        <a class="bars mr" href="javascript:;">
            <svg width="22" viewBox="0 0 512 512">
                <g data-name="1">
                    <path fill="#fff" d="M441.13 166.52h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 279.72h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30ZM441.13 392.92h-372a15 15 0 1 1 0-30h372a15 15 0 0 1 0 30Z" />
                </g>
            </svg>
        </a>
        <p class="mb0 clr-white">RADNI NALOZI</p>
    </div>
    <a href="javascript:;" class="refresh">
        <svg height="24" width="24">
            <path fill="#fff" d="M17.807 7C16.447 5.079 14.394 4 12 4a8 8 0 0 0-8 8H2C2 6.477 6.477 2 12 2c2.804 0 5.275 1.183 7 3.27V2h2v7h-7V7h3.807ZM6.193 17c1.36 1.921 3.413 3 5.807 3a8 8 0 0 0 8-8h2c0 5.523-4.477 10-10 10-2.804 0-5.275-1.183-7-3.27V22H3v-7h7v2H6.193Z" fill-rule="evenodd" />
        </svg>
    </a>
    <nav class="header-main__nav">
        <ul class="nav__list o-flex o-flex--center">
            <li class="nav__list-item">
                <a href="/MainMenuInputNote" class="nav__link">
                    <img src="~/images/nav/__input.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuSlaughter" class="nav__link ">
                    <img src="~/images/nav/__slaughter.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuQuartering" class="nav__link">
                    <img src="~/images/nav/__quarteringWhite1.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuRefinement" class="nav__link">
                    <img src="~/images/nav/__refinement.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuFinalProduct" class="nav__link">
                    <img src="~/images/nav/__finalProduct.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuDeepFreeze" class="nav__link">
                    <img src="~/images/nav/__freeze.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuExpedition" class="nav__link">
                    <img src="~/images/nav/__expedition1.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuWorkOrders" class="nav__link is-active">
                    <img src="~/images/nav/__specifications.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href=" /MainMenuFinancial" class="nav__link">
                    <img src="~/images/nav/__euro.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuBasic" class="nav__link">
                    <img src="~/images/nav/__edit1.png" alt="">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/MainMenuAdmin" class="nav__link">
                    <img src="~/images/nav/__admin.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>
<main class="w-100">
    <div class="cart w-100 cart-main-menu">
        <!--PRIJEM-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderPrijemGrla.png" alt="">
                    <span>
                        R.N. PRIJEMA <br /> GRLA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderPrijemMesa.png" alt="">
                    <span>R.N PRIJEMA <br /> MESA</span>
                </a>
            </li>
        </ul>
        <!--KL. ULAZ I IZLAZI-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazKlSvinja.png" alt="">
                    <span>R.N. - ULAZ <br /> KL. SVINJA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazKlSvinja.png" alt="">
                    <span>R.N. - IZLAZ <br /> KL. SVINJA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazKlGoveda.png" alt="">
                    <span>R.N. - ULAZ <br /> KL. GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazKlGoveda.png" alt="">
                    <span>R.N. - IZLAZ <br /> KL. GOVEDA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazKlJaganjaca.png" alt="">
                    <span>R.N. - ULAZ <br /> KL. JAGANJACA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazKlJaganjaca.png" alt="">
                    <span>R.N. - IZLAZ <br /> KL. JAGANJACA</span>
                </a>
            </li>
        </ul>
        <!--ČET. GOVEDA-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderUlazCetGoveda.png" alt="">
                    <span>R.N. - ULAZ <br /> ČET. GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderIzlazCetGoveda.png" alt="">
                    <span>R.N. - IZLAZ <br /> ČET. GOVEDA</span>
                </a>
            </li>       
        </ul>
        <!--RAS. ULAZ I IZLAZ-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazRasSvinja.png" alt="">
                    <span>
                        R.N. - ULAZ <br /> RAS. SVINJA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazRasSvinja.png" alt="">
                    <span>R.N. - IZLAZ <br /> RAS. SVINJA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazRasGoveda.png" alt="">
                    <span>R.N. - ULAZ <br /> RAS. GOVEDA</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazRasSvinja.png" alt="">
                    <span>R.N. - ULAZ <br /> RAS. GOVEDA</span>
                </a>
            </li>
            <li style="margin-left:2rem">
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderUlazRasJaganjaca.png" alt="">
                    <span>R.N. - ULAZ <br /> RAS. JAG.</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/___workOrderIzlazRasSvinja.png" alt="">
                    <span>R.N. - IZLAZ <br /> RAS. JAG.</span>
                </a>
            </li>
        </ul>
        <!--RN. MINUSNA-->
        <ul class="o-flex o-flex--center">
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderMinusnaNovaPaleta.png" alt="">
                    <span>
                        R.N. - MINUSNA <br /> NOVA PALETA
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderMinusnaDodavanje1.png" alt="">
                    <span>R.N. - MINUSNA <br /> DODAVANJE</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-link menu-link--green">
                    <img src="~/images/icons_now/___workOrderMinusnaSkidanje1.png" alt="">
                    <span>R.N. - MINUSNA <br /> SKIDANJE</span>
                </a>
            </li>      
        </ul>
        <!--EKSPEDICIJA-->
        <ul class="o-flex o-flex--center mb0">
            <li>
                <a href="#" class="menu-link menu-link--dark-grey">
                    <img src="~/images/icons_now/__expedition1.png" alt="">
                    <span>
                        EKSPEDICIJA
                    </span>
                </a>
            </li>            
        </ul>
    </div>
</main>
